$background-color: var(--persian-rose);
$form-background: #111111;
$text-color: var(--white);
$attach-color: #cecece;
$input-color: #706e6e;

.contacts {
  gap: 40px;
  padding: 8px;
  margin-bottom: 70px;
  background-color: $background-color;
  border-radius: 15px;

  &__content {
    margin: 0 16px;
    color: $text-color;
  }

  &__title {
    margin: 0;
    font-size: 28px;
  }

  &__logo {
    margin-top: 24px;
    margin-bottom: 12px;
  }

  &__paragraph {
    margin: 0;
    margin-bottom: 26px;
    font-size: clamped(16px, 22px);
  }

  &__formBlock {
    padding: clamped(8px, 40px);
    background-color: $form-background;
    border-radius: 16px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    display: flex;
    padding: 16px 12px;
    color: $input-color;
    resize: none;
    background: $text-color;
    border: none;
    border-radius: 8px;
  }

  &__input {
    flex: 1;
    margin-left: 12px;
    color: $input-color;
    border: none;
    outline: none;
  }

  &__textarea {
    min-height: 144px;
    border: none;
  }

  &__file {
    display: none;
  }

  &__label {
    width: fit-content;
    margin-left: auto;
    color: $attach-color;
    cursor: pointer;

    &--attach {
      &::before {
        display: inline-block;
        margin-right: 8px;
        content: url('/img/contact-form-clip.svg');
        transform: rotate(225deg);
      }
    }
  }

  &__subscribe {
    display: flex;
  }

  &__checkbox {
    position: relative;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin: 4px 15px 0 0;
    overflow: hidden;
    appearance: none;
    cursor: pointer;
    border-radius: 4px;

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      border: 1px solid $text-color;
      border-radius: 4px;
    }

    &:checked {
      background-color: $background-color;

      &::before {
        background-color: $text-color;
        border: unset;
        mask-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25 0H0v25h25V0Zm-3.857 9.471a1.5 1.5 0 0 0-2.286-1.942l-7.446 8.76-4.35-4.35a1.5 1.5 0 0 0-2.122 2.122l5.5 5.5a1.5 1.5 0 0 0 2.204-.09l8.5-10Z' fill='%23fff'/%3E%3C/svg%3E");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
      }
    }
  }

  &__submit {
    padding: 10px 30px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    color: $text-color;
    cursor: pointer;
    background-color: $background-color;
    border: none;
    border-radius: 8px;
  }
}

@include md {
  .contacts {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
    }

    &__title {
      font-size: 40px;
    }

    &__logo {
      margin-bottom: 32px;
    }

    &__formBlock {
      width: 50%;
      background: black;
      border-radius: 16px;
    }
  }
}

@include xl {
  .contacts {
    &__formBlock {
      padding: 40px;
    }
  }
}
