$text-color: var(--white);
$text-color-hover: var(--persian-rose);
$background-color: var(--black);
$background-color-revers: var(--white);
$hover-color: var(--persian-rose);

.footer {
  padding: 60px 0 40px;
  background-color: $background-color;

  a {
    text-decoration-line: none;
  }

  &__logo {
    grid-row: 1/3;
    order: 1;
    margin-bottom: 34px;
    text-align: center;
  }

  &__button {
    padding: 16px 34px;
    margin-bottom: 36px;
    font-size: 28px;
    font-weight: 800;
    line-height: 36px;
    color: $text-color;
    text-align: center;
    background-color: $background-color;
    border: 1px solid $text-color;
    border-radius: 8px;
    transition: all 0.3s;

    &:hover {
      color: #111111;
      background-color: $background-color-revers;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 44px;
  }

  &__contactsItem {
    font-size: 18px;
    line-height: 30px;
    color: $text-color;
    opacity: 0.9;
    transition: all 0.3s;
    will-change: opacity;

    &:hover {
      color: $text-color-hover;
      opacity: 1;
    }
  }

  &__contactsTitle {
    margin-top: 36px;
    margin-bottom: 18px;
    font-size: 28px;
    font-weight: 800;
    line-height: 1;
    color: $text-color;
  }

  &__copyright {
    width: 100%;
    font-size: 16px;
    line-height: 2;
    color: $text-color;
    text-align: center;
    opacity: 0.9;
  }

  &__copyrightItem {
    color: inherit;
    transition: all 0.3s;
    will-change: opacity;

    &:hover {
      color: $text-color-hover;
      opacity: 1;
    }
  }

  &__mainSection {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-bottom: 34px;
    text-align: center;
  }

  &__floatingBlock {
    order: 4;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  &__bottomSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    border-top: 1px solid hsl(0deg 0% 100% / 20%);
  }

  &__withUa {
    display: flex;
    order: 2;
    margin: 0 auto;

    &--item {
      padding-left: 8px;
      margin-bottom: 12px;
      font-size: 14px;
      font-weight: 800;
      line-height: 20px;
      color: $text-color;
      opacity: 0.7;
    }
  }

  &__achievements {
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 42px;

    .clutch-widget {
      align-items: center;
      overflow: visible !important;

      >* {
        margin: 0 !important;
        max-height: none;
        overflow: visible !important;
        padding: 0 !important;
      }

      iframe {
        overflow: visible !important;
      }
    }
  }

  &__awards-group {
    display: contents;
  }

  &__clutch-widget {
    align-items: center;
    display: flex;
    height: 55px;
    justify-content: flex-start;
    margin: 0;
    max-width: 215px;
    padding: 0;
    width: 215px;

    .clutch-widget {
      display: inline-block;
      height: 50px;
      overflow: visible;
      width: 215px;
    }
  }

  &__wrapperlink {
    display: inline-block;
    font-size: 0;
  }

  &__utils {
    display: flex;
    flex-direction: column;
    line-height: 34px;
  }

  &__utilsItem {
    font-size: 18px;
    color: $text-color;
    text-decoration-line: none;
    opacity: 0.9;
    transition: all 0.3s;
    will-change: opacity;

    &:hover {
      color: $text-color-hover;
      opacity: 1;
    }
  }
}

@media screen and (width >= 768px) {
  .footer {
    &__mainSection {
      grid-template-columns: max-content 1fr max-content;
      margin-bottom: 12px;
    }

    &__logo {
      grid-column: 1/4;
      order: 1;
    }

    &__floatingBlock {
      grid-column: 1/4;
      order: 2;
      margin-bottom: 64px;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      grid-column: 1/3;
      column-gap: clamped(48px, 100px);
      order: 3;
      margin-right: auto;
      text-align: initial;
    }

    &__contacts {
      align-items: unset;
      order: 4;
      text-align: initial;
    }

    &__contactsItem {
      font-size: 14px;
    }

    &__contactsTitle {
      font-size: 18px;
    }

    &__button {
      padding: 10px 24px;
      margin-bottom: 14px;
      font-size: 16px;
      line-height: 20px;
    }

    &__copyright {
      font-size: 12px;
    }

    &__achievements {
      justify-content: space-between;
    }

    &__withUa {
      margin: 0;
    }
  }
}

@media screen and (width >= 992px) {
  .footer {
    &__mainSection {
      grid-column-gap: clamped(30px, 70px);
      margin-bottom: 50px;
      text-align: unset;
    }

    &__logo {
      grid-row: 1 / auto;
      grid-column: 1;
      margin-bottom: 26px;
      text-align: left;
    }

    &__utilsItem {
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 16px;
    }

    &__contacts {
      grid-row: 1/3;
    }

    &__contactsTitle {
      margin-top: 22px;
    }

    &__floatingBlock {
      grid-column: 1;
      margin-bottom: 0;
    }

    &__nav {
      grid-row: 1/3;
      grid-column: auto;
      column-gap: 6px;
      justify-content: space-around;
      width: 100%;
      margin-left: unset;
    }

    &__copyright {
      flex: 0 1 38%;
      order: 1;
      width: auto;
      text-align: initial;
    }

    &__achievements {
      order: 2;
      width: auto;
      margin-bottom: 0;
      text-align: initial;
    }

    &__withUa {
      order: initial;
      margin: 0;
    }
  }
}

.navBlock {
  &__list {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    all: unset;
    display: none;
    font-size: 14px;
    line-height: 20px;
    color: $text-color;
    opacity: 0.9;
  }

  &__link {
    padding: 6px;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration-line: none;
    cursor: pointer;
    opacity: inherit;
    transition: all 0.3s;
    will-change: opacity, color;

    &:focus-visible {
      @include focus-ring;
    }

    &:hover {
      color: $text-color-hover;
      opacity: 1;
    }
  }

  &__title {
    display: block;
    font-size: 28px;
    font-weight: 800;
    line-height: 36px;
    opacity: 1;
  }
}

@media screen and (width >= 768px) {
  .navBlock {
    &__item {
      display: block;
    }

    &__title {
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 20px;
    }
  }
}

.socialNetworks {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 42px;

  &__block {
    display: flex;
    gap: 4px;
    justify-content: center;
  }

  &__wrapperlink {
    display: inline-block;
    font-size: 0;
  }

  &__icon {
    width: 57px;
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 0.3s;

    &:hover {
      background-color: $hover-color;
    }
  }
}

@media screen and (width >= 992px) {
  .socialNetworks {
    justify-content: unset;
    margin-bottom: 24px;

    &__block {
      justify-content: flex-start;
    }

    &__icon {
      width: 40px;
    }
  }
}

@media screen and (width >= 1200px) {
  .footer {
    &__copyright {
      flex: 0 1 35%;
    }
  }
}

@media screen and (width < 768px) {
  .footer {
    &__achievements {
      justify-content: space-between;
    }

    &__withUa {
      flex-basis: 100%;
      justify-content: center;
      margin-bottom: 0;
      order: -3;
    }

    &__wrapperlink {
      flex-basis: 100%;
      justify-content: center;
      order: -2;
      text-align: center;
    }

    &__clutch-widget {
      flex-basis: 100%;
      justify-content: center;
      margin: 0 auto 20px;
      max-width: none;
      order: -1;
      width: 215px;
    }

    &__awards-group {
      align-items: center;
      display: flex;
      flex-basis: 100%;
      gap: 40px;
      justify-content: center;
      order: 0;
      width: 100%;
    }
  }
}
