@mixin light {
  --main-text: var(--black);
  --meta-text: var(--slate-gray);
  --background-color: var(--concrete);
  --background-avatar: var(--white);
}

@mixin dark {
  --main-text: var(--silver);
  --meta-text: var(--silver);
  --background-color: var(--mine-shaft);
  --background-avatar: #303030;
}

.heroCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin-bottom: 60px;
  background-color: var(--background-color);
  border-radius: 16px;

  &::after {
    display: table;
    clear: both;
    content: '';
  }

  &__avatar {
    width: 124px;
    height: 124px;
    aspect-ratio: 1;
    margin-bottom: 12px;
    object-fit: cover;
    background-color: var(--background-avatar);
    border-radius: 50%;
  }

  &__meta {
    flex-grow: 1;
  }

  &__bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 230px;
    padding-bottom: 24px;
    text-align: center;
  }

  &__name {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
  }

  &__position {
    font-size: 12px;
    font-weight: 400;
    color: var(--meta-text);
  }

  &__content {
    padding-top: 20px;
    border-top: 1px solid var(--meta-text);
  }

  &__description {
    margin: 0;
    font-size: clamped(16px, 22px);
    line-height: 1.5;
    color: var(--main-text);
  }

  &__membership {
    color: var(--meta-text);
  }
}

@include md {
  .heroCard {
    flex-direction: row;
    padding: 40px;

    &__bio {
      padding-right: 40px;
      padding-bottom: 0;
      border-right: 1px solid var(--meta-text);
    }

    &__content {
      padding-top: 0;
      padding-left: 40px;
      border-top: none;
    }
  }
}

@media screen and (width >= 1024px) {
  .heroCard {
    &__wrapper {
      display: flex;
      gap: clamped(20px, 56px, 992px, 1200px);
      padding: 40px;
      padding-bottom: 0;
    }

    &__description {
      margin: 0;
    }

    &__membership {
      flex-shrink: 0;
    }
  }
}

@include xl {
  .heroCard {
    &__description {
      @include multiline-ellipsis(5);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .heroCard {
    @include dark;
  }
}

@media (prefers-color-scheme: light) {
  .heroCard {
    @include light;
  }
}

[data-theme='dark'] .heroCard {
  @include dark;
}

[data-theme='light'] .heroCard {
  @include light;
}
