@mixin light {
  --main-text: var(--mine-shaft);
  --link-text: #dc296c;
  --link-hover: #dc296c;
}

@mixin dark {
  --main-text: var(--alto);
  --link-text: #f12571;
  --link-hover: #f12571;
}

.markdown {
  min-width: 0;
  font-size: clamped(16px, 18px);

  :first-child {
    margin-top: 0;
  }

  a {
    color: var(--link-text);
    text-decoration: none;

    &:hover {
      color: var(--link-hover);
      text-decoration: underline;
    }
  }

  p {
    color: var(--main-text);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h2 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    font-size: 40px;
    line-height: 1.2;
  }

  h3 {
    margin-top: 2.4em;
    font-size: 22px;
    line-height: 1.36;
  }

  h4 {
    font-size: 18px;
  }

  table {
    width: 100%;
    overflow: hidden;
    font-size: clamped(14px, 16px);
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid #dddddd;
    border-radius: 8px;

    th,
    td {
      padding: clamped(8px, 16px);
      hyphens: auto;
      text-align: left;
      overflow-wrap: anywhere;
      white-space: normal;
      border-right: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
    }

    th:last-child,
    td:last-child {
      border-right: none;
    }

    tr:last-child td {
      border-bottom: none;
    }

    thead:first-child tr:first-child,
    tbody:first-child tr:first-child {
      background-color: #dc296c;
    }

    @media screen and (width <= 660px) {
      display: block;
      max-width: 100%;
      overflow-x: auto;
      table-layout: auto;
      -webkit-overflow-scrolling: touch;

      th,
      td {
        white-space: nowrap;
      }
    }
  }

  .highlight {
    font-size: 14px;

    pre {
      padding: 16px;
      overflow-x: auto;
      border-radius: 0.375rem;
    }
  }

  ul,
  ol {
    padding-left: 1em;
    color: var(--main-text);
  }

  li {
    margin-bottom: 24px;
  }

  .center {
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  .markdown {
    @include dark;
  }
}

@media (prefers-color-scheme: light) {
  .markdown {
    @include light;
  }
}

[data-theme='dark'] .markdown {
  @include dark;
}

[data-theme='light'] .markdown {
  @include light;
}
