@mixin light {
  --active-background: var(--lavender-100);
  --active-color: var(--black);
  --main-color: var(--dark-gray);
  --disabled-color: var(--slate-gray);
}

@mixin dark {
  --active-background: var(--dark-gray);
  --active-color: var(--white);
  --main-color: var(--silver);
  --disabled-color: var(--slate-gray);
}

.pagination {
  margin-bottom: 160px;

  &__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-decoration: none;

    &--next,
    &--prev {
      padding: 0 16px;
    }

    &:focus-visible {
      @include focus-ring(-1px);
    }
  }

  &__ellipsis {
    user-select: none;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 46px;
    height: 42px;
    color: var(--main-color);
    text-align: center;
    border-radius: 9px;
  }

  .active {
    color: var(--active-color);
    background-color: var(--active-background);
  }

  .disabled {
    color: var(--disabled-color);
  }
}

@include md {
  .pagination {
    &__list {
      justify-content: end;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .pagination {
    @include dark;
  }
}

@media (prefers-color-scheme: light) {
  .pagination {
    @include light;
  }
}

[data-theme='dark'] .pagination {
  @include dark;
}

[data-theme='light'] .pagination {
  @include light;
}
