@mixin light {
  --main-text: var(--main-text-override, var(--slate-gray));
}

@mixin dark {
  --main-text: var(--main-text-override, var(--silver));
}

.postInfo {
  z-index: 2;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
  color: var(--main-text);

  &__bullet {
    flex-shrink: 0;
    width: 0.5em;
    height: 0.5em;
    background-color: var(--main-text);
    border-radius: 50%;
  }

  &__link {
    @include multiline-ellipsis(1);

    color: var(--main-text);
    text-decoration: none;
  }

  &__date {
    white-space: nowrap;
  }
}

@media (prefers-color-scheme: dark) {
  .postInfo {
    @include dark;
  }
}

@media (prefers-color-scheme: light) {
  .postInfo {
    @include light;
  }
}

[data-theme='dark'] .postInfo {
  @include dark;
}

[data-theme='light'] .postInfo {
  @include light;
}
