@mixin light {
  --main-color: var(--emperor);
  --hover-color: var(--persian-rose-100);
  --active-color: var(--persian-rose-200);
}

@mixin dark {
  --main-color: var(--mercury);
  --hover-color: var(--persian-rose-100);
  --active-color: var(--persian-rose-200);
}

.tag {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: clamped(32px, 34px);
  padding: 0 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
  border: 1px var(--main-color) solid;
  border-radius: 5000px;

  &:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
  }

  &:active {
    color: var(--active-color);
    border-color: var(--active-color);
  }
}

@media (prefers-color-scheme: dark) {
  .tag {
    @include dark;
  }
}

@media (prefers-color-scheme: light) {
  .tag {
    @include light;
  }
}

[data-theme='dark'] .tag {
  @include dark;
}

[data-theme='light'] .tag {
  @include light;
}
