@mixin light {
  --background-color: var(--white);
  --fill-color: var(--persian-rose);
}

@mixin dark {
  --background-color: #303030;
  --fill-color: var(--persian-rose);
}

.teamAvatar {
  &__background {
    fill: var(--background-color);
  }

  &__content {
    fill: var(--fill-color);
  }
}

@media (prefers-color-scheme: dark) {
  .teamAvatar {
    @include dark;
  }
}

@media (prefers-color-scheme: light) {
  .teamAvatar {
    @include light;
  }
}

[data-theme='dark'] .teamAvatar {
  @include dark;
}

[data-theme='light'] .teamAvatar {
  @include light;
}
