{{ define "main" }}

{{- $promote := where .Site.RegularPages "Params.promote.promote" "==" true -}}
{{- $top := where .Site.RegularPages "Params.top" "==" true -}}

<div class="featuredPosts">
  {{ range first 1 $promote }}
      <div class="promote">
        <h2><a href="{{ .Params.promote.promote_url }}">{{ .LinkTitle }}</a></h2>
        {{ .Summary }}
      </div>
  {{ end }}

  <div class="top-posts">
    {{ range first 2 $top }}
    <div class="top">
      <h2><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></h2>
      {{ .Summary }}
    </div>
    {{ end }}
  </div>
</div>

  <div class="postFeed">
    {{ range .Site.RegularPages }}
        {{ partial "post_card.html" . }}
    {{ end }}
  </div>
{{ end }}
