{{ define "page-js" }}
  {{ partialCached "head_resources/search_form_js.html" . }}
{{ end }}

{{ define "page-css" }}
  {{ partialCached "head_resources/page_css.html" (dict
    "sourcePath" "scss/home.scss"
    "targetPath" "css/home.css"
    )
  }}
{{ end }}

{{ define "main" }}
  {{ $promote := where .Site.RegularPages "Params.promote.promote" true }}
  {{ $top := where .Site.RegularPages "Params.top" true }}

  <div class="container container__w1300">
    {{ partial "shared/page_head.html" . }}

    <h1 class="title">Anadea Blog</h1>

    {{ if or $promote $top }}
      <section class="featuredPosts">
        {{ range first 1 $promote }}
          {{ partial "promote_card.html" . }}
        {{ end }}

        {{ range first 2 $top }}
          {{ partial "top_post_card.html" . }}
        {{ end }}
      </section>
    {{ end }}

    {{ partial "shared/filters.html" . }}

    <div class="postFeed">
      {{ with .Paginator }}
        {{ range .Pages }}
          {{ partial "shared/post_card.html" . }}
        {{ end }}
      {{ end }}
    </div>

    {{ partial "shared/pagination.html" . }}
    {{ partial "subscription.html" . }}
  </div>
{{ end }}
