{{ $params := . }}
{{ $image := dict }}
{{ $src := dict }}

{{ with .ctx.Resources.GetMatch .src }}
  {{ $image = . }}
  {{ if eq $image.MediaType.SubType "svg" }}
    {{ $src = $image.RelPermalink }}
  {{ else }}
    {{ $src = ($image.Process "webp").RelPermalink }}
  {{ end }}
{{ end }}

{{ with resources.GetMatch .src }}
  {{ $image = . }}
  {{ if eq $image.MediaType.SubType "svg" }}
    {{ $src = $image.RelPermalink }}
  {{ else }}
    {{ $src = ($image.Process "webp").RelPermalink }}
  {{ end }}
{{ end }}

{{ if eq $image.MediaType.SubType "svg" }}
    <img
      class="{{ $params.class }}"
      src="{{ $src }}"
      width="{{ $params.width }}"
      height="{{ $params.height }}"
      alt="{{ $params.alt }}"
      decoding="async"
    />
{{ else }}
  <img
    class="{{ $params.class }}"
    src="{{ $src }}"
    width="{{ $params.width }}"
    height="{{ $params.height }}"
    alt="{{ $params.alt }}"
    loading="lazy"
    decoding="async"
    srcset="
    {{- with site.Params.deviceSizes -}}
      {{- range $i, $e := . -}}
        {{- if ge $image.Width . -}}
          {{- if $i }},{{ end -}}
          {{- ($image.Resize (print . `x webp`) ).RelPermalink }} {{ . }}w
        {{- end -}}
      {{- end -}}
    {{- end -}}
  "
    sizes="{{ $params.sizes }}"
  />
{{ end }}
