$counter-size: clamped(18px, 52px);
$indicator-size: clamped(28px, 44px);
$grid-gap: clamped(16px, 22px);

@mixin light {
  --border-color: var(--mercury);
  --main-text: var(--black);
  --meta-text: var(--emperor);
  --background-color: var(--white);
}

@mixin dark {
  --border-color: var(--emperor);
  --main-text: var(--alto);
  --meta-text: var(--silver);
  --background-color: var(--black);
}

.questions {
  margin-bottom: 60px;

  &__title {
    font-size: clamped(28px, 40px);
    font-weight: 700;
    line-height: 1.2;
  }

  &__items {
    margin: unset;
    counter-reset: question;
  }

  &__item {
    position: relative;
    display: grid;
    grid-template-areas: 'counter question indicator';
    grid-template-columns: $counter-size 1fr fit-content($indicator-size);
    gap: $grid-gap;
    align-items: center;
    min-height: 116px;
    padding: 24px 0;
    font-size: clamped(22px, 32px);
    line-height: 1.2;
    counter-increment: question;
    border-top: 1px solid var(--border-color);

    // Counter
    &::before {
      grid-area: counter;
      margin-left: clamped(2px, 32px);
      font-size: 16px;
      font-weight: 400;
      color: var(--meta-text);
      content: counter(question, decimal-leading-zero);
    }
  }

  &__control {
    grid-area: question;
    padding: 0;
    font-weight: 700;
    color: var(--main-text);
    text-align: left;
    cursor: pointer;
    background: none;
    border: none;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: '';
    }

    // focus ring fix
    &:focus-visible {
      outline: none;

      &::before {
        @include focus-ring;
      }
    }
  }

  &__indicator {
    grid-area: indicator;
    min-width: $indicator-size;
    height: $indicator-size;
    margin-right: clamped(6px, 40px);
  }

  &__foldable {
    display: grid;
    grid-template-rows: 0fr;
    margin: unset;
    opacity: 0;
    transition:
      grid-template-rows 0.5s ease-out,
      opacity 0.5s ease-out;

    &--active {
      grid-template-rows: 1fr;
      opacity: 1;
    }
  }

  &__inner {
    display: grid;
    grid-template-areas: 'counter answer';
    grid-template-columns: $counter-size 1fr;
    gap: $grid-gap;
    overflow: hidden;

    // Counter placeholder
    &::before {
      grid-area: counter;
      content: '';
    }
  }

  &__answer {
    max-width: 60ch;
    padding-bottom: 32px;
    font-size: clamped(16px, 22px);
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-text);
  }
}

@media (prefers-color-scheme: dark) {
  .questions {
    @include dark;
  }
}

@media (prefers-color-scheme: light) {
  .questions {
    @include light;
  }
}

[data-theme='dark'] .questions {
  @include dark;
}

[data-theme='light'] .questions {
  @include light;
}
