@mixin light {
  --main-text: var(--black);
  --meta-text: var(--slate-gray);
  --background-color: var(--lavender-50);
  --avatar: url("data:image/svg+xml,%3Csvg width='125' height='124' viewBox='0 0 125 124' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='62.5' cy='62' r='62' fill='%23CEE9FF'/%3E%3Cpath d='M61.6306 59.9773C49.3332 59.9773 39.3281 69.9814 39.3281 82.2788C39.3281 83.1157 40.0063 83.7949 40.8442 83.7949H82.416C83.2529 83.7949 83.9321 83.1157 83.9321 82.2788C83.9321 69.9814 73.927 59.9773 61.6306 59.9773ZM42.4199 80.7627C43.1961 70.8435 51.5164 63.0094 61.6306 63.0094C71.7449 63.0094 80.0651 70.8435 80.8403 80.7627H42.4199Z' fill='%23295D87'/%3E%3Cpath d='M61.2764 57.9752C68.496 57.9752 74.3693 52.1019 74.3693 44.8824C74.3693 37.6628 68.495 31.7896 61.2764 31.7896C54.0569 31.7896 48.1836 37.6628 48.1836 44.8824C48.1836 52.1019 54.0569 57.9752 61.2764 57.9752ZM61.2764 34.8217C66.8233 34.8217 71.3371 39.3346 71.3371 44.8824C71.3371 50.4292 66.8233 54.9431 61.2764 54.9431C55.7286 54.9431 51.2157 50.4302 51.2157 44.8824C51.2157 39.3346 55.7286 34.8217 61.2764 34.8217Z' fill='%23295D87'/%3E%3Cpath d='M31.9953 68.3432C34.4827 68.3432 36.9256 69.0063 39.0602 70.2616C39.7818 70.6881 40.7117 70.4445 41.1352 69.7239C41.5597 69.0022 41.3192 68.0724 40.5965 67.6479C37.9969 66.1187 35.0224 65.3111 31.9953 65.3111C22.6391 65.3111 15.0273 72.9228 15.0273 82.279C15.0273 83.1159 15.7055 83.7951 16.5434 83.7951H35.7592C36.5971 83.7951 37.2753 83.1159 37.2753 82.279C37.2753 81.4422 36.5971 80.7629 35.7592 80.7629H18.1414C18.8994 73.789 24.8232 68.3432 31.9953 68.3432Z' fill='%23295D87'/%3E%3Cpath d='M31.7268 62.8901C37.307 62.8901 41.8481 58.35 41.8481 52.7688C41.8481 47.1876 37.308 42.6475 31.7268 42.6475C26.1456 42.6475 21.6055 47.1876 21.6055 52.7688C21.6055 58.349 26.1456 62.8901 31.7268 62.8901ZM31.7268 45.6796C35.6352 45.6796 38.816 48.8593 38.816 52.7688C38.816 56.6772 35.6363 59.858 31.7268 59.858C27.8173 59.858 24.6376 56.6782 24.6376 52.7688C24.6376 48.8593 27.8173 45.6796 31.7268 45.6796Z' fill='%23295D87'/%3E%3Cpath d='M91.4003 65.311C88.3742 65.311 85.3997 66.1196 82.7991 67.6478C82.0764 68.0723 81.8359 69.0012 82.2604 69.7228C82.6849 70.4465 83.6168 70.686 84.3354 70.2615C86.471 69.0062 88.9139 68.3432 91.4003 68.3432C98.5724 68.3432 104.496 73.7889 105.254 80.7629H87.6394C86.8025 80.7629 86.1233 81.4421 86.1233 82.279C86.1233 83.1158 86.8025 83.795 87.6394 83.795H106.852C107.689 83.795 108.368 83.1158 108.368 82.279C108.368 72.9227 100.757 65.311 91.4003 65.311Z' fill='%23295D87'/%3E%3Cpath d='M91.6692 62.8901C97.2494 62.8901 101.791 58.35 101.791 52.7688C101.791 47.1876 97.2504 42.6475 91.6692 42.6475C86.088 42.6475 81.5469 47.1876 81.5469 52.7688C81.5479 58.349 86.088 62.8901 91.6692 62.8901ZM91.6692 45.6796C95.5777 45.6796 98.7584 48.8593 98.7584 52.7688C98.7584 56.6772 95.5787 59.858 91.6692 59.858C87.7598 59.858 84.579 56.6782 84.579 52.7688C84.58 48.8593 87.7598 45.6796 91.6692 45.6796Z' fill='%23295D87'/%3E%3C/svg%3E");
}

@mixin dark {
  --main-text: var(--white);
  --meta-text: var(--silver);
  --background-color: var(--shark);
  --avatar: url("data:image/svg+xml,%3Csvg width='125' height='124' viewBox='0 0 125 124' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='62.5' cy='62' r='62' fill='%23323645'/%3E%3Cpath d='M61.6306 59.9773C49.3332 59.9773 39.3281 69.9814 39.3281 82.2788C39.3281 83.1157 40.0063 83.7949 40.8442 83.7949H82.416C83.2529 83.7949 83.9321 83.1157 83.9321 82.2788C83.9321 69.9814 73.927 59.9773 61.6306 59.9773ZM42.4199 80.7627C43.1961 70.8435 51.5164 63.0094 61.6306 63.0094C71.7449 63.0094 80.0651 70.8435 80.8403 80.7627H42.4199Z' fill='%23A986FF'/%3E%3Cpath d='M61.2764 57.9752C68.496 57.9752 74.3693 52.1019 74.3693 44.8824C74.3693 37.6628 68.495 31.7896 61.2764 31.7896C54.0569 31.7896 48.1836 37.6628 48.1836 44.8824C48.1836 52.1019 54.0569 57.9752 61.2764 57.9752ZM61.2764 34.8217C66.8233 34.8217 71.3371 39.3346 71.3371 44.8824C71.3371 50.4292 66.8233 54.9431 61.2764 54.9431C55.7286 54.9431 51.2157 50.4302 51.2157 44.8824C51.2157 39.3346 55.7286 34.8217 61.2764 34.8217Z' fill='%23A986FF'/%3E%3Cpath d='M31.9953 68.3432C34.4827 68.3432 36.9256 69.0063 39.0602 70.2616C39.7818 70.6881 40.7117 70.4445 41.1352 69.7239C41.5597 69.0022 41.3192 68.0724 40.5965 67.6479C37.9969 66.1187 35.0224 65.3111 31.9953 65.3111C22.6391 65.3111 15.0273 72.9228 15.0273 82.279C15.0273 83.1159 15.7055 83.7951 16.5434 83.7951H35.7592C36.5971 83.7951 37.2753 83.1159 37.2753 82.279C37.2753 81.4422 36.5971 80.7629 35.7592 80.7629H18.1414C18.8994 73.789 24.8232 68.3432 31.9953 68.3432Z' fill='%23A986FF'/%3E%3Cpath d='M31.7268 62.8901C37.307 62.8901 41.8481 58.35 41.8481 52.7688C41.8481 47.1876 37.308 42.6475 31.7268 42.6475C26.1456 42.6475 21.6055 47.1876 21.6055 52.7688C21.6055 58.349 26.1456 62.8901 31.7268 62.8901ZM31.7268 45.6796C35.6352 45.6796 38.816 48.8593 38.816 52.7688C38.816 56.6772 35.6363 59.858 31.7268 59.858C27.8173 59.858 24.6376 56.6782 24.6376 52.7688C24.6376 48.8593 27.8173 45.6796 31.7268 45.6796Z' fill='%23A986FF'/%3E%3Cpath d='M91.4003 65.311C88.3742 65.311 85.3997 66.1196 82.7991 67.6478C82.0764 68.0723 81.8359 69.0012 82.2604 69.7228C82.6849 70.4465 83.6168 70.686 84.3354 70.2615C86.471 69.0062 88.9139 68.3432 91.4003 68.3432C98.5724 68.3432 104.496 73.7889 105.254 80.7629H87.6394C86.8025 80.7629 86.1233 81.4421 86.1233 82.279C86.1233 83.1158 86.8025 83.795 87.6394 83.795H106.852C107.689 83.795 108.368 83.1158 108.368 82.279C108.368 72.9227 100.757 65.311 91.4003 65.311Z' fill='%23A986FF'/%3E%3Cpath d='M91.6692 62.8901C97.2494 62.8901 101.791 58.35 101.791 52.7688C101.791 47.1876 97.2504 42.6475 91.6692 42.6475C86.088 42.6475 81.5469 47.1876 81.5469 52.7688C81.5479 58.349 86.088 62.8901 91.6692 62.8901ZM91.6692 45.6796C95.5777 45.6796 98.7584 48.8593 98.7584 52.7688C98.7584 56.6772 95.5787 59.858 91.6692 59.858C87.7598 59.858 84.579 56.6782 84.579 52.7688C84.58 48.8593 87.7598 45.6796 91.6692 45.6796Z' fill='%23A986FF'/%3E%3C/svg%3E");
}

.authorConnect {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 30px;
  font-size: 16px;
  background-color: var(--background-color);
  border-radius: 24px;

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }

  &__info {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  &__link {
    color: var(--main-text);
    text-decoration: none;
  }

  &__avatar {
    min-width: 50px;
    height: 50px;
    object-fit: cover;
    background-image: var(--avatar);
    background-size: cover;
    border-radius: 50%;
  }

  &__name {
    font-weight: 700;
  }

  &__description {
    @include multiline-ellipsis(3);

    font-weight: 400;
    color: var(--meta-text);
  }

  &__action {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 700;
    color: var(--persian-rose);
    text-decoration-line: none;
    background: none;
    border: none;

    &:hover {
      text-decoration-line: underline;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .authorConnect {
    @include dark;
  }
}

@media (prefers-color-scheme: light) {
  .authorConnect {
    @include light;
  }
}

[data-theme='dark'] .authorConnect {
  @include dark;
}

[data-theme='light'] .authorConnect {
  @include light;
}
