.postBody {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;

  aside {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 60px;
  }
}

@include lg {
  .postBody {
    grid-template-columns: 1fr auto;

    aside {
      width: 260px;
    }
  }
}
