.postBody {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 60px;

  &__aside {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 60px;
  }
}

@include lg {
  .postBody {
    grid-template-columns: 1fr auto;
    margin-bottom: 160px;

    &__aside {
      width: 260px;
    }

    &__animated {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .visible {
      visibility: visible;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }

    .hidden {
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    .sticky {
      position: sticky;
    }
  }
}
