.postBody {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 40px;

  aside {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 60px;
    width: 260px;
  }
}
