@mixin light {
  --main-color: var(--black);
}

@mixin dark {
  --main-color: var(--white);
}

.socialShare {
  display: flex;
  gap: 16px;
  min-height: 24px;
  margin-bottom: 12px;
  cursor: pointer;

  &__icon {
    max-width: 24px;
    height: 24px;
    fill: var(--main-color);

    &--done {
      display: none;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .socialShare {
    @include dark;
  }
}

@media (prefers-color-scheme: light) {
  .socialShare {
    @include light;
  }
}

[data-theme='dark'] .socialShare {
  @include dark;
}

[data-theme='light'] .socialShare {
  @include light;
}
