@mixin light {
  --main-text: var(--black);
  --background-color: var(--lavender-50);
}

@mixin dark {
  --main-text: var(--white);
  --background-color: var(--shark);
}

.ToC {
  padding: 24px;
  line-height: 1.5;
  background-color: var(--background-color);
  border-radius: 24px;

  &__title {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 700;
  }

  &__mobileOnly {
    display: block;
  }

  &__desktopOnly {
    display: none;
  }

  ul {
    @include reset-list;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 12px;
    font-size: 16px;
    hyphens: auto;

    &::before {
      position: absolute;
      top: 6px;
      left: 0;
      content: '';
      border: 0 solid transparent;
      border-top-width: 4px;
      border-bottom-width: 4px;
      border-left: 5px solid var(--persian-rose);
    }

    a {
      display: -webkit-box;
      overflow: hidden;
      font-size: 16px;
      font-weight: 400;
      color: var(--main-text);
      text-decoration: none;
      text-decoration-line: none;
      text-overflow: ellipsis;
      white-space: pre-wrap;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include lg {
  .ToC {
    &__mobileOnly {
      display: none;
    }

    &__desktopOnly {
      display: block;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .ToC {
    @include dark;
  }
}

@media (prefers-color-scheme: light) {
  .ToC {
    @include light;
  }
}

[data-theme='dark'] .ToC {
  @include dark;
}

[data-theme='light'] .ToC {
  @include light;
}
