// Utils
@import 'utils/mediaQueries';
@import 'utils/mixins';

// Modules
@import 'modules/featuredPosts';
@import 'modules/tag';
@import 'modules/promotionCard';
@import 'modules/topPostCard';

// Layouts
@import 'layouts/postFeed';

.title {
  margin-top: 40px;
  margin-bottom: clamped(24px, 40px);
  font-size: clamped(36px, 56px);
  line-height: 1;
}

.mb__80 {
  margin-bottom: clamped(60px, 80px);
}

.mb__160 {
  margin-bottom: clamped(120px, 160px);
}
