@import "variables";
@import "normalizer";
@import "containers";
@import "fonts";
@import "utils";
@import "markdown";
@import "quotes";
@import "breadcrumbs";
@import "taxonomy";
@import "postHead";
@import "postBody";
@import "postCard";
@import "featuredPosts";
@import "authorCard";
@import "authorConnect";
@import "postInfo";
@import "postFeed";
@import "readNext";
@import "keepReading";
@import "shortcodes";
@import "questions/questions";
@import "questions/indicator";
@import "toc";
@import "tag";
@import "socialShare";
@import "subscription";
@import "contacts";
@import "promotionCard";
@import "base16-chalk.dark";

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.625;
  color: var(--black);
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.sr-only {
  @include sr-only();
}

header {
  margin-bottom: 1rem;
  border-bottom: 1px solid #222222;
}

footer {
  margin-top: 1rem;
  border-top: 1px solid #222222;
}

a {
  color: #111111;
  text-decoration: underline;
}

.center {
  text-align: center;
}
