<figure class="authorCard">
  {{- if .author.team -}}
    <div class="authorCard__avatar">
      {{ partial "team_avatar.html" . }}
    </div>
  {{- else -}}
    <img class="authorCard__avatar" src="{{ .author.avatar }}" alt="{{ .author.name }}" />
  {{- end -}}
  <figcaption class="authorCard__info">
    <a class="authorCard__link" href="{{ .url }}">
      <span class="authorCard__name">{{ .author.name }}</span>
      <span class="authorCard__position">{{ .author.position }}</span>
    </a>
  </figcaption>
</figure>
