<figure class="authorCard">
  {{ if .author.team }}
    <div class="authorCard__avatar">
      {{ partial "team_avatar.html" . }}
    </div>
  {{ else }}
    {{ $params := dict
      "class" "authorCard__avatar"
      "width" 56
      "height" 56
      "src" .author.avatar
      "alt" (or .author.alt .Params.title)
      "sizes" 112
      "ctx" .
    }}

    {{ partial "image.html" $params }}
  {{ end }}

  <figcaption class="authorCard__info">
    <a class="authorCard__link" href="{{ .url }}">
      <span class="authorCard__name">{{ .author.title }}</span>
      <span class="authorCard__position">{{ .author.position }}</span>
    </a>
  </figcaption>
</figure>
