<figure class="authorCard">
  {{- if .author.avatar -}}
    <img class="authorCard__avatar" src="{{ .author.avatar }}" alt="{{ .author.name }}" />
  {{- else -}}
    <img class="authorCard__avatar" src="/img/default-avatar-icon.svg" alt="avatar icon" />
  {{- end -}}
  <figcaption class="authorCard__info">
    <a class="authorCard__link" href="{{ .url }}">
      <span class="authorCard__name">{{ .author.name }}</span>
      <span class="authorCard__position">{{ .author.position }}</span>
    </a>
  </figcaption>
</figure>
