<div style="display: flex; gap: 24px;">
  <div>
    <h3>Drop Us a Line</h3>
    <p>Thanks for your interest in Anadea. In case you need to contact us, please fill in the form.</p>
    <p>Send us your request for proposal, and we'll reply with the estimate.</p>
  </div>

  <form action="" style="display: flex; flex-direction: column;">
    <input type="text">
    <input type="text">
    <input type="text">
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <input type="submit">
  </form>
</div>
