<section class="contacts">
  <div class="contacts__content">
    <div>
      <svg class="contacts__logo" width="68" height="54" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M33.794 0 0 11.977v20.688l33.794-11.977 33.795 11.977V11.977L33.794 0ZM0 53.687 3.112 46h1.472l3.112 7.687h-1.67l-.664-1.712h-3.07l-.663 1.712H0Zm3.827-5.672-.965 2.474h1.93l-.965-2.474ZM17.985 50.732 14.506 46H13v7.687h1.612v-4.889l3.596 4.889h1.389V46h-1.612v4.732ZM25 53.687 28.11 46h1.475l3.11 7.687h-1.668l-.665-1.712h-3.07l-.663 1.712H25Zm3.826-5.672-.963 2.474h1.928l-.965-2.474ZM37 46h2.792c2.25 0 3.804 1.659 3.804 3.842 0 2.164-1.554 3.845-3.804 3.845H37V46Zm1.573 6.16h1.219c1.29 0 2.158-.934 2.158-2.318 0-1.36-.869-2.317-2.158-2.317h-1.219v4.634ZM50.578 50.568h3.402v-1.503h-3.402v-1.56h3.867V46H49v7.687h5.497v-1.504h-3.919v-1.615ZM63.113 46h1.472l3.11 7.687h-1.667l-.666-1.712h-3.068l-.666 1.712H60L63.113 46Zm.713 2.014-.963 2.475h1.927l-.964-2.474Z"
          fill="#fff"
        />
      </svg>
      <h2 class="contacts__title">Contact us</h2>
      <p class="contacts__paragraph">
        Let's explore how our expertise can help you achieve your goals! Drop us a line, and we'll get back to you shortly.
      </p>
    </div>
  </div>
  <div class="contacts__formBlock">
    <form class="contacts__form" id="contact_form" enctype="multipart/form-data" accept-charset="UTF-8" >
      <input
      type="hidden"
      name="contact_type"
      id="bottom_section_contact_type"
      value="contact_form"
      autocomplete="off"
    />
      <div class="contacts__item">
        <label class="contacts__label" for="name">Your name*</label>
        <input class="contacts__input" id="name" required="required" aria-required="true" type="text" name="name" />
      </div>
      <div class="contacts__item">
        <label class="contacts__label" for="email">Your E-mail*</label>
        <input class="contacts__input" id="email" required="required" aria-required="true" type="email" name="email" />
      </div>
      <div class="contacts__item">
        <label class="contacts__label" for="phone">Phone number</label>
        <input class="contacts__input" id="phone" name="phone" type="tel" />
      </div>
      <div class="contacts__item contacts__item--textarea">
        <label class="contacts__label" for="description">Description*</label>
        <textarea class="contacts__textarea" id="description" minlength="20" required="required" rows="5" aria-required="true" name="message"></textarea>
      </div>
      <div style="display: flex; position: relative; align-items: end;">
        <div id="tooltip-error" class="contacts__tooltip" style="display: none;">
          <div id="tooltip-error-text" class="contacts__tooltip--text">
            <img class="contacts__tooltip--icon" alt="alert-circle" width="16" height="16" src="/blog/img/alert-circle.svg">
            <span>You can’t upload a file larger than 25 MB. Please upload a smaller file.</span>
          </div>
        </div>
        <label class="contacts__label contacts__label--attach" id="file-label" for="file">
          Attach a file <span class="contacts__label--size">(— max size 25MB)</span></label>
        <input class="contacts__file" id="file" multiple="multiple" data-size="25" type="file" name="attachments[]" />
        <button id="delete-attach" class="contacts__label--deleteIcon" style="display: none;">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path stroke="#CECECE" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 6 6 18M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="contacts__subscribe">
        <input name="subscribe" type="hidden" value="0" autocomplete="off" />
        <input class="contacts__checkbox" type="checkbox" name="subscribe" value="1" id="subscribe" checked />
        <label for="subscribe">Sign me up to newsletter - Useful insights only and frequency just right.</label>
      </div>
      <button class="contacts__submit" type="submit" data-disable-with="Sending...">Send</button>
    </form>
  </div>
</section>
