<footer class="footer">
  <div class="container container__w1300">
    <div class="footer__mainSection">
      <div class="footer__logo">
        <a href="https://anadea.info/" class="footer__wrapperlink">
          <span class="sr-only">Anadea</span>
          <img alt="Anadea logo" aria-hidden="true" width="81" height="64" src="/blog/img/logo.svg" />
        </a>
      </div>
      <div class="footer__floatingBlock">
        <div class="socialNetworks">
          <div class="socialNetworks__block">
            <a href="https://linkedin.com/company/anadea" class="socialNetworks__wrapperlink">
              <span class="sr-only">Anadea LinkedIn</span>
              <img alt="LinkedIn logo" class="socialNetworks__icon" src="/blog/img/social_icons/LinkedIn.svg" />
            </a>
            <a href="https://www.youtube.com/@anadea-channel" class="socialNetworks__wrapperlink">
              <span class="sr-only">Anadea Youtube</span>
              <img alt="Youtube logo" class="socialNetworks__icon" src="/blog/img/social_icons/Youtube.svg" />
            </a>
            <a href="https://twitter.com/Anadea_Info" class="socialNetworks__wrapperlink">
              <span class="sr-only">Anadea TwitterX</span>
              <img alt="TwitterX logo" class="socialNetworks__icon" src="/blog/img/social_icons/TwitterX.svg" />
            </a>
            <a href="https://dribbble.com/anadea-info" class="socialNetworks__wrapperlink">
              <span class="sr-only">Anadea Dribble</span>
              <img alt="Dribble logo" class="socialNetworks__icon" src="/blog/img/social_icons/dribble.svg" />
            </a>
          </div>
          <div class="socialNetworks__block">
            <a href="https://www.pinterest.com/anadea_info" class="socialNetworks__wrapperlink">
              <span class="sr-only">Anadea Pinterest</span>
              <img alt="Pinterest logo" class="socialNetworks__icon" src="/blog/img/social_icons/Pinterest.svg" />
            </a>
            <a href="https://www.instagram.com/anadea_info" class="socialNetworks__wrapperlink">
              <span class="sr-only">Anadea Instagram</span>
              <img alt="Instagram logo" class="socialNetworks__icon" src="/blog/img/social_icons/Instagram.svg" />
            </a>
            <a href="https://www.tiktok.com/@anadea_info" class="socialNetworks__wrapperlink">
              <span class="sr-only">Anadea Tiktok</span>
              <img alt="Tiktok logo" class="socialNetworks__icon" src="/blog/img/social_icons/Tiktok.svg" />
            </a>
          </div>

        </div>
        <div class="footer__utils">
          <a class="footer__utilsItem" href="https://anadea.info/sitemap">Sitemap</a>
          <a class="footer__utilsItem" href="https://businessnameguide.com/">Business Name Generator</a>
        </div>
      </div>
      <div class="footer__nav">
        <nav>
          <ul class="navBlock__list">
            <li class="navBlock__item navBlock__title">
              <a class="navBlock__link" href="https://anadea.info/solutions">Industries</a>
            </li>
            <li class="navBlock__item">
              <a class="navBlock__link" href="https://anadea.info/solutions/real-estate-software">Real Estate</a>
            </li>
            <li class="navBlock__item">
              <a class="navBlock__link" href="https://anadea.info/solutions/e-learning-software-development"
                >Education</a
              >
            </li>
            <li class="navBlock__item">
              <a class="navBlock__link" href="https://anadea.info/solutions/travel-app-development"
                >Travel &amp; Tourism</a
              >
            </li>
            <li class="navBlock__item">
              <a class="navBlock__link" href="https://anadea.info/solutions/medical-app-development">Healthcare</a>
            </li>
            <li class="navBlock__item">
              <a class="navBlock__link" href="https://anadea.info/solutions/sports-app-development">Sport</a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul class="navBlock__list">
            <li class="navBlock__item navBlock__title">
              <a class="navBlock__link" href="https://anadea.info/services">Services</a>
            </li>
            <li class="navBlock__item">
              <a class="navBlock__link" href="https://anadea.info/services/web-development">Web Development</a>
            </li>
            <li class="navBlock__item">
              <a class="navBlock__link" href="https://anadea.info/services/mobile-development">Mobile Development</a>
            </li>
            <li class="navBlock__item">
              <a class="navBlock__link" href="https://anadea.info/services/machine-learning-software-development"
                >Machine Learning and AI</a
              >
            </li>
            <li class="navBlock__item">
              <a class="navBlock__link" href="https://anadea.info/services/quality-assurance">QA Testing</a>
            </li>
            <li class="navBlock__item">
              <a class="navBlock__link" href="https://anadea.info/services/code-review-service">Code Audit</a>
            </li>
          </ul>
        </nav>
        <nav>
          <ul class="navBlock__list">
            <li class="navBlock__item navBlock__title">
              <a class="navBlock__link" href="https://anadea.info/about-us">Company</a>
            </li>
            <li class="navBlock__item">
              <a class="navBlock__link" href="https://anadea.info/guides">Client Guides</a>
            </li>
            <li class="navBlock__item">
              <a class="navBlock__link" href="https://anadea.info/projects">Portfolio</a>
            </li>
            <li class="navBlock__item">
              <a class="navBlock__link" href="https://anadea.info/testimonials">Testimonials</a>
            </li>
            <li class="navBlock__item">
              <a class="navBlock__link" href="https://anadea.info/awards-achievements">Recognition</a>
            </li>
            <li class="navBlock__item">
              <a class="navBlock__link" href="https://anadea.info/blog">Blog</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__contacts">
        <a class="footer__button" href="https://anadea.info/contacts">Contacts</a>
        <a class="footer__contactsItem" href="mailto:ocontact@anadeainc.com">contact@anadeainc.com</a>
        <h3 class="footer__contactsTitle" id="offices">Offices</h3>
        <a class="footer__contactsItem" href="https://anadea.info/contacts" aria-labelledby="offices"
          >Spain, Alicante</a
        >
      </div>
    </div>
    <div class="footer__bottomSection">
      <div class="footer__copyright">
        <div>© 2000-{{ time.Now.Year }} All rights reserved</div>
        <a class="footer__copyrightItem" href="https://anadea.info/privacy-terms">Privacy &amp; Terms</a>
      </div>
      <div class="footer__achievements">
        <div class="footer__withUa">
          <img alt="" width="35" height="33" loading="lazy" src="/blog/img/heart.svg" />
          <a class="" href="https://anadea.info/stand-with-ukraine">
            <div class="footer__withUa--item">
              We stand with<br />
              Ukraine!
            </div>
          </a>
        </div>

        <a href="https://www.goodfirms.co/company/anadea" target="_blank" class="footer__wrapperlink">
          <span class="sr-only">Anadea on Goodfirm</span>
          <img alt="Goodfirms logo with five stars" src="/blog/img/social_icons/goodfirms.svg" />
        </a>

        <!-- Clutch widget (заменяет статичный логотип Clutch) -->
        <div class="footer__clutch-widget">
          <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>
          <div class="clutch-widget"
               data-url="https://widget.clutch.co"
               data-widget-type="14"
               data-height="50"
               data-nofollow="false"
               data-expandifr="true"
               data-clutchcompany-id="23937">
          </div>
        </div>

        <noscript>
          <a href="https://clutch.co/profile/anadea" target="_blank" rel="nofollow" class="footer__wrapperlink">
            <span class="sr-only">Anadea on Clutch</span>
            <img alt="Clutch logo (fallback)" width="42" height="48" loading="lazy" src="/blog/img/social_icons/clutch.svg" />
          </a>
        </noscript>

        <div class="footer__awards-group">
          <a href="https://anadea.info/awards-achievements" target="_blank" class="footer__wrapperlink">
            <span class="sr-only">Anadea on Awards Achievements</span>
            <img alt="Awards achievements" loading="lazy" src="/blog/img/social_icons/awards.svg" />
          </a>
          <a href="https://itrate.co/mob-app-developers/all" target="_blank" class="footer__wrapperlink">
            <span class="sr-only">Anadea on the Top Mobile App Developmers</span>
            <img alt="Top Mobile App Development Company" src="/blog/img/social_icons/company.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
