<div class="footer-main-section">
  <div>
    <div class="Footer-logo">
      <a href="/">
        <img src="/img/logo.svg" alt="">
      </a>
    </div>
    <div class="floatingBlock">
      <div class="Footer-social">
        <div>
          <a href="#">
            <img src="/img/social/linkedin.svg" alt="">
          </a>
          <a href="#">
            <img src="/img/social/youtube.svg" alt="">
          </a>
          <a href="#">
            <img src="/img/social/twitterX.svg" alt="">
          </a>
        </div>

        <div>
          <a href="#">
            <img src="/img/social/pinterest.svg" alt="">
          </a>
          <a href="#">
            <img src="/img/social/instagram.svg" alt="">
          </a>
          <a href="#">
            <img src="/img/social/tiktok.svg" alt="">
          </a>
        </div>
      </div>
      <div style="display: flex; flex-direction: column;">
        <a href="">Sitemap</a>
        <a href="">Business Name Generator</a>
      </div>
    </div>
  </div>

  <nav class="footer-nav">
    <div style="display: flex; flex-direction: column;">
      <a href="">Industries</a>
      <a href="">Real Estate</a>
      <a href="">Education</a>
      <a href="">Travel & Tourism</a>
      <a href="">Healthcare</a>
      <a href="">Sport</a>
    </div>
    <div style="display: flex; flex-direction: column;">
      <a href="">Services</a>
      <a href="">Web Development</a>
      <a href="">Mobile Development</a>
      <a href="">Machine Learning and AI</a>
      <a href="">QA Testing</a>
      <a href="">Code Audit</a>
    </div>
    <div style="display: flex; flex-direction: column;">
      <a href="">Company</a>
      <a href="">About Us</a>
      <a href="">Portfolio</a>
      <a href="">Testimonials</a>
      <a href="">Recognition</a>
      <a href="">Blog</a>
    </div>
  </nav>

  <div class="Footer-contacts">
    <a href="" class="Footer-button">Contacts</a>
    <a class="" href="mailto:ocontact@anadeainc.com">
      contact@anadeainc.com
    </a>
    <h3>Office</h3>
    <span>Spain, Alicante</span>
  </div>
</div>
