<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="twitter:site" content="@Anadea_Info">
<meta property="twitter:creator" content="@Anadea_Info">
<meta property="twitter:card" content="summary_large_image">
<meta property="og:url" content="{{ .Permalink }}">

{{ if .IsPage }}
  <title>{{ .Title }}</title>
  <meta name="og:title" content="{{ .Title }}">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta property="og:type" content="article">
  <meta name="description" content="{{ .Description }}">
  <meta name="og:description" content="{{ .Description }}">
  <meta name="twitter:description" content="{{ .Description }}">
{{ else }}
  {{ $defaultTitle := printf "Custom Software Development Blog | Anadea - page %d" .Paginator.PageNumber }}
  {{ $defaultDescription := "Blog about custom software development, web technologies, agile practices and interesting projects we work on." }}

  <title>{{ $defaultTitle }}</title>
  <meta name="og:title" content="{{ $defaultTitle }}">
  <meta name="twitter:title" content="{{ $defaultTitle }}">
  <meta property="og:type" content="website">
  <meta name="description" content="{{ $defaultDescription }}">
  <meta name="og:description" content="{{ $defaultDescription }}">
  <meta name="twitter:description" content="{{ $defaultDescription }}">
{{ end }}

{{ $defaultImage := "default_og.png" }}
{{ $image := or .Params.og_image .Params.image }}
{{ $resource := false }}
{{ if $image }}
  {{ $resource = .Resources.GetMatch $image }}
{{ else }}
  {{ $resource = resources.GetMatch $defaultImage }}
{{ end }}

{{ with $resource }}
  {{ with . | images.Filter (images.Process "resize 1200x jpeg") }}
    <meta property="og:image" content="{{ .Permalink }}">
    <meta property="twitter:image" content="{{ .Permalink }}">
  {{ end }}
{{ end }}

<link rel="canonical" href="{{ .Permalink }}">

{{ partialCached "head/css.html" . }}
{{ partialCached "head/main_js.html" . }}

{{ partial "gtm.html" . }}
