<nav class="header" aria-label="Main navigation" role="navigation">
  <div class="header__container">
    <a href="https://anadea.info/" class="header__wrapperLink">
      <span class="sr-only">Anadea</span>
      <img class="header__logo" alt="Anadea logo" aria-hidden="true" width="76" height="9" src="/blog/img/logoMobile.svg" />
      <img class="header__logo desktop" alt="Anadea logo" aria-hidden="true" width="56" height="42" src="/blog/img/logo.svg" />
    </a>

    {{ $uniqID := hash.FNV32a "Toggle" }}
    <div class="header__burger">
      <button class="burger" aria-label="Toggle menu" aria-expanded="false" aria-controls="{{ $uniqID }}">
        <div class="burger__inner"></div>
      </button>
    </div>

    <div class="header__menu">
      <ul class="menu" id="{{ $uniqID }}">
        <li class="menu__item">
          <a class="menu__link" href="https://anadea.info/projects">Portfolio</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="https://anadea.info/services">Services</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="https://anadea.info/solutions">Industries</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="https://anadea.info/guides">Guides</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="https://anadea.info/about-us">About</a>
        </li>
      </ul>
      <a href="https://anadea.info/free-project-estimate" class="header__callToAction">Get Estimate</a>
    </div>
  </div>

  <div class="header__shadow"></div>
</nav>
