<section class="heroCard">
  {{ if .team }}
  <div class="heroCard__bio">
    <div class="heroCard__avatar">
      {{ partial "team_avatar.html" . }}
    </div>
    <div>{{ .name }}</div>
  </div>
  {{ else }}
    <div class="heroCard__bio">

      {{ $params := dict
        "class" "heroCard__avatar"
        "width" 124
        "height" 124
        "src" .avatar
        "alt" (or .author.alt .Params.title)
        "sizes" 248
        "ctx" .
      }}

      {{ partial "image.html" $params }}

      <h3 class="heroCard__name">{{ .name }}</h3>
      <div class="heroCard__position">{{ .position }}</div>
    </div>
  {{ end }}
  <div class="heroCard__content">
    <p class="heroCard__description"> {{- .description -}}</p>
  </div>
</section>
