{{- $dateMachine := .memberSince | time.Format "2006-01-02T15:04:05-07:00" -}}
{{- $dateHuman := .memberSince | time.Format ":date_short" -}}

<section class="heroCard">  
  {{ if .team }}
  <div class="heroCard__bio">
    <div class="heroCard__avatar">
      {{ partial "team_avatar.html" . }}
    </div>
    <div>{{ .name }}</div>
  </div>
  {{ else }}
    <div class="heroCard__bio">
      <img alt="" class="heroCard__avatar" src="{{ .avatar }}" />
      <h3 class="heroCard__name">{{ .name }}</h3>
      <div class="heroCard__position">{{ .position }}</div>
    </div>
  {{ end }}
  <div class="heroCard__content">
    <p class="heroCard__description"> {{- .description -}}</p>
  </div>
</section>

