{{- $taxonomyList := slice "categories" "industries" -}}

<article class="postCard">
  <figure class="postCard__figure">

    {{ $params := dict
      "class" "postCard__image"
      "width" 360
      "height" 270
      "src" .Params.image
      "alt" (or .Params.alt .Params.title)
      "sizes" "(max-width: 768px) 100vw, (max-width: 992px) 50vw, 33vw"
      "ctx" .
    }}

    {{ partial "image.html" $params }}

    <figcaption class="postCard__figcaption">
      {{ partial "post_info.html" . }}
      <h2 class="postCard__title">
        <a href="{{ .RelPermalink }}" class="postCard__link">
          {{ .Params.title }}
        </a>
      </h2>
      <p class="postCard__description">{{ .Params.description }}</p>
      <div class="postCard__tags">
        {{- range $taxonomyList -}}
          {{- with $.Page.GetTerms . -}}
            {{- range . -}}
              <a class="tag" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </div>
    </figcaption>
  </figure>
</article>
