<div class="container container__w1300">
  <div class="postHead">
    {{ partial "breadcrumbs.html" . }}

    {{ partial "taxonomy.html" . }}

    <h1 class="postHead_title">{{ .Title }}</h1>

    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time class="postHead_dateInfo" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

    <div>
      <img class="postHead_image" src={{ .Params.image }} alt="" style="">

      <div class="postHead_authors">
        {{ partial "authorCard.html" . }}
      </div>
    </div>
  </div>
</div>
