<article class="promotionCard">
  <figure class="promotionCard__imageContainer">

    {{ $params := dict
      "class" "promotionCard__image"
      "width" 1059
      "height" 520
      "src" .Params.image
      "alt" ""
      "sizes" 1059
      "ctx" .
    }}

    {{ partial "image.html" $params }}

    <figcaption class="promotionCard__info">
      {{ partial "post_info.html" . }}
      <h2 class="promotionCard__title">
        <a class="promotionCard__link" href="{{ .Params.promote.promote_url }}">
          {{- .Params.title -}}
        </a>
      </h2>
      <div class="promotionCard__description">
        {{- .Params.description -}}
      </div>
    </figcaption>
  </figure>
</article>
