{{- $taxonomyList := slice "categories" "industries" -}}

<article class="topPostCard">
  <figure class="topPostCard__figure">

    {{ $params := dict
      "class" "topPostCard__image"
      "width" 512
      "height" 384
      "src" .Params.image
      "alt" ""
      "sizes" 1024
      "ctx" .
    }}

    {{ partial "image.html" $params }}

    <figcaption class="topPostCard__figcaption">
      {{ partial "post_info.html" . }}
      <h2 class="topPostCard__title">
        <a href="{{ .RelPermalink }}" class="topPostCard__link">
          {{- .Params.title -}}
        </a>
      </h2>
      <p class="topPostCard__description">
        {{- .Params.description -}}
      </p>
      <div class="topPostCard__tags">
        {{- range $taxonomyList -}}
          {{- with $.Page.GetTerms . -}}
            {{- range . -}}
              <a class="tag" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </div>
    </figcaption>
  </figure>
</article>
