<article class="topPostCard">
  <div class="topPostCard__content">

    {{ $params := dict
      "class" "topPostCard__image"
      "width" 512
      "height" 384
      "src" .Params.image
      "alt" ""
      "sizes" 1024
      "ctx" .
    }}

    {{ partial "utils/image.html" $params }}

    <div class="topPostCard__caption">
      {{ partial "shared/post_info.html" . }}

      <h2 class="topPostCard__title">
        <a href="{{ .RelPermalink }}" class="topPostCard__link">
          {{ .Params.title }}
        </a>
      </h2>

      <p class="topPostCard__description">
        {{ .Params.description }}
      </p>

      <div class="topPostCard__tags">
        {{ partial "shared/tags.html" . }}
      </div>
    </div>
  </div>
</article>
