$header-height-mobile: 52px;
$header-height-desktop: 74px;

.header {
  --background-color: var(--dark-gray);
  --text-color: var(--white);
  --accent-color: var(--persian-rose);

  height: $header-height-mobile;
  margin-bottom: 48px;
  background-color: var(--background-color);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 16px;
  }

  &__logo {
    display: block;

    &.desktop {
      display: none;
    }
  }

  &__wrapperLink {
    padding: 5px 0;
    border-bottom: 2px solid var(--accent-color);
  }

  &__menu {
    position: absolute;
    top: $header-height-mobile;
    right: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    padding: 50px 20px 14px;
    visibility: hidden;
    background: var(--background-color);
    opacity: 0;

    &.active {
      visibility: visible;
      opacity: 1;
      transition: all 0.3s;
    }
  }

  &__callToAction {
    display: block;
    align-self: center;
    width: 100%;
    padding: 12px 18px;
    margin-top: 140px;
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--accent-color);
    border-radius: 4px;

    &:hover {
      background-color: var(--persian-rose-200);
    }
  }

  &__shadow {
    position: absolute;
    z-index: 7;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    opacity: 0.3;

    &.active {
      display: block;
    }
  }
}

@include sm {
  .header {
    &__menu {
      max-width: 400px;
    }
  }
}

@include lg {
  .header {
    &__container {
      padding-right: 70px;
      padding-left: 70px;
    }
  }
}

@include xl {
  .header {
    height: $header-height-desktop;

    &__logo {
      display: none;

      &.desktop {
        display: block;
      }
    }

    &__wrapperLink {
      border-bottom: none;

      &:focus-visible {
        @include focus-ring(6px);
      }
    }

    &__menu {
      position: initial;
      display: flex;
      width: auto;
      max-width: initial;
      padding: initial;
      visibility: visible;
      opacity: 1;
    }

    &__callToAction {
      display: inline-block;
      width: auto;
      margin-top: unset;
      margin-left: 40px;
    }

    &__shadow {
      &.active {
        display: none;
      }
    }

    &__burger {
      display: none;
    }
  }
}
