{{ with $.Site.Params.gtm }}
  {{ $url := printf "https://www.googletagmanager.com/gtm.js?id=%s" . }}
  {{ with resources.GetRemote $url }}
    <script type="text/partytown">
      (
        function (w, d, s, l) {
          w[l] = w[l] || [];
          w[l].push({
            'gtm.start':
              new Date().getTime(), event: 'gtm.js'
          });
          var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
          j.async = true;
          j.src = '{{ .RelPermalink }}';
          f.parentNode.insertBefore(j, f);
        }
      )(window, document, 'script', 'dataLayer');
    </script>
  {{ end }}
{{ end }}
