{{ $industries := .GetTerms "industries" }}
{{ $sales := slice }}
{{ $salePersonData := dict }}

{{ range $industries }}
  {{ $baseName := path.BaseName .Path }}
  {{ $industryData := index .Site.Data.industries $baseName }}
  {{ $sales = $sales | append $industryData.sale }}
{{ end }}

{{$hasMoreThanOneSale := gt (len $sales) 1 }}
{{$hasNoSale := or (eq (len $sales) 0) (eq (index $sales 0) nil) }}
{{ $shouldShowHeadOfSale := or $hasMoreThanOneSale $hasNoSale }}

{{ if $shouldShowHeadOfSale }}
  {{ $salePersonData = index $.Site.Data.sales "irina-lysenko" }}
{{ else }}
  {{ $salePersonData = index $.Site.Data.sales ((index $sales 0) | urlize) }}
{{ end}}

<article
  class="keepInTouch"
  style="--bg-light: url('{{ "img/keepInTouch-bg-light.png" | relURL }}'); --bg-dark: url('{{ "img/keepInTouch-bg-dark.png" | relURL }}')"
>
  <h3 class="keepInTouch__title">Done reading? Time for doing</h3>
    <img class="keepInTouch__svg" src="{{ "img/keep_in_touch.svg" | relURL }}" alt="" loading="lazy" />
    <div class="keepInTouch__info">

      {{ $params := dict
        "class" "keepInTouch__avatar"
        "width" 50
        "height" 50
        "src" $salePersonData.avatar
        "alt" ""
        "sizes" 100
        "ctx" .
      }}

      {{ partial "utils/image.html" $params }}

      <div class="keepInTouch__name">{{ $salePersonData.name }}</div>
    </div>
  <div class="keepInTouch__description">Get a custom proposal built for your eyes only. Describe your goal, and we'll craft a detailed strategy on how we can achieve it together.</div>
  <a class="keepInTouch__action" href="{{ $salePersonData.link }}">
    <span>Book a 15-minute call</span>
  </a>
</article>
