<nav aria-label="Breadcrumb" role="navigation">
  <ol class="breadcrumbs">
    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="https://anadea.info">Home</a></li>
    {{ if .IsHome }}
      <li class="breadcrumbs__item"><a aria-current="page" class="breadcrumbs__link" href="/">Blog</a></li>
    {{ else }}
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/">Blog</a></li>
    {{ end }}
    {{ if not .IsHome }}
    <li class="breadcrumbs__item">
      {{ $path := path.BaseName .Path }}

      <a aria-current="page" class="breadcrumbs__link" href="{{ .RelPermalink }}">
        {{ with index (index $.Site.Data .Type) $path }}
          {{ .title }}
        {{ else }}
          {{ or .Params.breadcrumbs .Title }}
        {{ end }}
      </a>
    </li>
    {{ end }}
  </ol>
</nav>
