@use 'sass:math';
$burger-width: 22px;
$cross-with: math.hypot($burger-width, $burger-width);

.burger {
  position: relative;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: $burger-width;
  height: $burger-width;
  padding: 0;
  margin: 0;
  overflow: hidden; // safari focus ring fix
  cursor: pointer;
  background-color: transparent;
  border: none;

  &__inner {
    width: $burger-width;
    height: 2px;
    color: white;
    background-color: currentcolor;
    border-radius: 2px;
    opacity: 1;
    transition: all ease 0.3s;

    &::before,
    &::after {
      position: absolute;
      display: block;
      width: $burger-width;
      height: 2px;
      content: '';
      background-color: currentcolor;
      border-radius: 2px;
      opacity: 1;
      transition:
        all ease 0.3s,
        width 0.1s linear;
      transform-origin: 0 center;
    }

    &::before {
      top: 3px;
    }

    &::after {
      bottom: 3px;
    }

    @at-root .active & {
      width: 0;
      color: transparent;

      &::after,
      &::before {
        width: $cross-with;
        color: var(--white);
        transition:
          all ease 0.3s,
          width 0.3s ease-in-out,
          translate 0s;
      }

      &::before {
        top: 0;
        transform: translateY(-1px) rotate(45deg);
      }

      &::after {
        bottom: 0;
        transform: translateY(1px) rotate(-45deg);
      }
    }
  }
}
