.menu {
  --text-color: var(--white);
  --accent-color: var(--persian-rose);

  @include reset-list;

  display: flex;
  flex-direction: column;

  &__item {
    font-size: 22px;
    font-weight: 800;
    color: var(--text-color);
  }

  &__link {
    display: inline-flex;
    padding: 16px 0;
    color: var(--white);
    text-decoration: none;
    background: none;
    border: none;
  }
}

@include xl {
  .menu {
    flex-direction: row;

    &__item {
      padding: 0;
      font-size: 16px;
    }

    &__link {
      position: relative;
      align-items: center;
      height: 100%;
      cursor: default;

      span {
        padding: 6px 20px;
        font-weight: 600;
      }

      &:hover,
      &.active {
        span {
          background-color: #252526;
          border-radius: 100px;
        }
      }

      &:focus-visible {
        @include focus-ring(-6px);
      }
    }
  }
}
