@font-face {
  font-family: 'Wix Madefor Display';
  font-style: normal;
  font-weight: 400;
  src:
    url('/blog/fonts/wix_madefor_display/WixMadeforDisplay-Regular.woff2') format('woff2'),
    url('/blog/fonts/wix_madefor_display/WixMadeforDisplay-Regular.otf') format('otf');
  font-display: swap;
}

@font-face {
  font-family: 'Wix Madefor Display';
  font-style: normal;
  font-weight: 500;
  src:
    url('/blog/fonts/wix_madefor_display/WixMadeforDisplay-Medium.woff2') format('woff2'),
    url('/blog/fonts/wix_madefor_display/WixMadeforDisplay-Medium.otf') format('otf');
  font-display: swap;
}

@font-face {
  font-family: 'Wix Madefor Display';
  font-style: normal;
  font-weight: 600;
  src:
    url('/blog/fonts/wix_madefor_display/WixMadeforDisplay-SemiBold.woff2') format('woff2'),
    url('/blog/fonts/wix_madefor_display/WixMadeforDisplay-SemiBold.otf') format('otf');
  font-display: swap;
}

@font-face {
  font-family: 'Wix Madefor Display';
  font-style: normal;
  font-weight: 700;
  src:
    url('/blog/fonts/wix_madefor_display/WixMadeforDisplay-Bold.woff2') format('woff2'),
    url('/blog/fonts/wix_madefor_display/WixMadeforDisplay-Bold.otf') format('otf');
  font-display: swap;
}

@font-face {
  font-family: 'Wix Madefor Display';
  font-style: normal;
  font-weight: 800;
  src:
    url('/blog/fonts/wix_madefor_display/WixMadeforDisplay-ExtraBold.woff2') format('woff2'),
    url('/blog/fonts/wix_madefor_display/WixMadeforDisplay-ExtraBold.otf') format('otf');
  font-display: swap;
}

@font-face {
  font-family: 'local_fallback';
  src: local('Arial');
  size-adjust: 109%;
  descent-override: 20%;
}
