@font-face {
  font-family: StemText;
  font-style: normal;
  font-weight: 400;
  src:
    url('/blog/fonts/stem/STT55.woff2') format('woff2'),
    url('/blog/fonts/stem/STT55.otf') format('otf');
  font-display: swap;
}

@font-face {
  font-family: StemText;
  font-style: italic;
  font-weight: 400;
  src:
    url('/blog/fonts/stem/STT56.woff2') format('woff2'),
    url('/blog/fonts/stem/STT56.otf') format('otf');
  font-display: swap;
}

@font-face {
  font-family: StemText;
  font-style: normal;
  font-weight: 800;
  src:
    url('/blog/fonts/stem/STT75.woff2') format('woff2'),
    url('/blog/fonts/stem/STT75.otf') format('otf');
  font-display: swap;
}

@font-face {
  font-family: StemText;
  font-style: italic;
  font-weight: 800;
  src:
    url('/blog/fonts/stem/STT76.woff2') format('woff2'),
    url('/blog/fonts/stem/STT76.otf') format('otf');
  font-display: swap;
}

@font-face {
  font-family: 'StemText_Fallback';
  src: local('Arial');
  size-adjust: 110.8%;
  ascent-override: 70.22%;
  descent-override: 20.04%;
  line-gap-override: 26.17%;
}

.mainText {
  font-family: StemText, 'StemText_Fallback', sans-serif;
}
