// Color matrix
:root {
  --black: #111111;
  --dark-gray: #1b1d21;
  --shark: #1c1d21;
  --gunmetal: #323645;
  --medium-purple: #8154f0;
  --persian-rose: #dc296c;
  --persian-rose-100: #c52665;
  --persian-rose-200: #b41d56;
  --silver: #bcbcbc;
  --slate-gray: #5e7282;
  --white: #ffffff;
  --lavender-50: #f5fafe;
  --lavender-100: #dfeaff;
}

// Focus Ring
:root {
  --default-focus-ring: -webkit-focus-ring-color auto 1px;
}
