<div class="container container__w1300">
  <div class="subMenu">
    <div class="subMenu__shell">
      <a class="card" href="https://anadea.info/stand-with-ukraine">
        <div class="card__container">
          <img src="/blog/img/subMenu/ua.webp" alt="" class="card__image" aria-hidden="{true}" />
          <div
            class="card__content"
            style="margin: 55px 24px;
          text-align: center;"
          >
            <div class="card__title">
              We stand with <br />
              Ukraine!
            </div>
          </div>
        </div>
      </a>

      <div class="subMenu__items">
        <div class="subMenu__itemsColumn">
          <div>
            <a href="https://anadea.info/about-us" class="subMenu__item"> About Us </a>
          </div>

          <div>
            <a href="https://anadea.info/awards-achievements" class="subMenu__item"> Recognitions </a>
          </div>

          <div>
            <a href="https://anadea.info/contacts" class="subMenu__item"> Contacts </a>
          </div>
        </div>

        <div class="subMenu__itemsColumn">
          <div>
            <a href="https://anadea.info/testimonials" class="subMenu__item"> Testimonials </a>
          </div>

          <div>
            <a href="https://jobs.anadea.info/" class="subMenu__item"> Carrer </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
