<div class="container container__w1300">
  <div class="subMenu">
    <div class="subMenu__shell">
      <div class="subMenu__mainBlock">
        <div class="subMenu__mainBlock_header">
          <div class="subMenu__mainBlock_title">A company run by engineers</div>
          <div class="subMenu__mainBlock_subTitle">Decisions about your product come from people with hands-on technical experience</div>
        </div>

          <a class="subMenu__mainBlock_link" href="">
            Book a call
            <img
              class=""
              alt="arrow"
              aria-hidden="true"
              src="/blog/img/subMenu/link_arrow.svg"
            />
          </a>
      </div>

      <div class="subMenu__block">
        <div class="subMenu__block_header mb_0">
          <div class="subMenu__block_title">
            <a href="">
              About us
            </a>
          </div>
          <div class="subMenu__block_subTitle">How we got here and where we're going</div>
        </div>
      </div>

      <div class="subMenu__block">
        <div class="subMenu__block_header mb_0">
          <div class="subMenu__block_title">
            <a href="">
              Awards & recognition
            </a>
            </div>
          <div class="subMenu__block_subTitle">Certifications, ratings, and industry recognition</div>
        </div>
      </div>

      <div class="subMenu__block">
        <div class="subMenu__block_header mb_0">
          <div class="subMenu__block_title">
            <a href="">
              Contacts
            </a>
          </div>
          <div class="subMenu__block_subTitle">Reach the team directly</div>
        </div>
      </div>
    </div>
  </div>
</div>
