<div class="container container__w1300">
  <div class="subMenu">
    <div class="subMenu__shell">
      <div class="subMenu__mainBlock">
        <div class="subMenu__mainBlock_header">
          <div class="subMenu__mainBlock_title">A company run by engineers</div>
          <div class="subMenu__mainBlock_subTitle">Decisions about your product come from people with hands-on technical experience</div>
        </div>

          <a class="subMenu__mainBlock_link" href="https://anadea.info/free-project-estimate">
            Book a call
            <img
              class=""
              alt=""
              aria-hidden="true"
              role="presentation"
              src="/blog/img/subMenu/link_arrow.svg"
            />
          </a>
      </div>

      <div class="subMenu__block">
        <div class="subMenu__block_header mb_0">
          <div class="subMenu__block_title">
            <a href="https://anadea.info/about-us">
              About us
            </a>
          </div>
          <div class="subMenu__block_subTitle">How we got here and where we're going</div>
        </div>
      </div>

      <div class="subMenu__block">
        <div class="subMenu__block_header mb_0">
          <div class="subMenu__block_title">
            <a href="https://anadea.info/awards-achievements">
              Awards & recognition
            </a>
            </div>
          <div class="subMenu__block_subTitle">Certifications, ratings, and industry recognition</div>
        </div>
      </div>

      <div class="subMenu__block">
        <div class="subMenu__block_header mb_0">
          <div class="subMenu__block_title">
            <a href="https://anadea.info/contacts">
              Contacts
            </a>
          </div>
          <div class="subMenu__block_subTitle">Reach the team directly</div>
        </div>
      </div>
    </div>
  </div>
</div>
