<div class="container container__w1300">
  <div class="subMenu">
    <div class="subMenu__shell">
      <div class="subMenu__mainBlock">
        <div class="subMenu__mainBlock_header">
          <div class="subMenu__mainBlock_title">Code is no longer the bottleneck</div>
          <div class="subMenu__mainBlock_subTitle">Understanding the business you're building for is. 25 years of practice gives us context most teams don't have</div>
        </div>

          <a class="subMenu__mainBlock_link" href="">
            Book a call
            <img
              class=""
              alt="arrow"
              aria-hidden="true"
              src="/blog/img/subMenu/link_arrow.svg"
            />
          </a>
      </div>

      <div class="subMenu__block">
        <div style="display: flex; gap: 24px;">
          <ul class="subMenu__block_list">
            <li class="subMenu__block_item">
              <a href="#">Private Equity</a>
            </li>
            <li class="subMenu__block_item">
              <a href="#">FinTech</a>
            </li>
            <li class="subMenu__block_item">
              <a href="#">Oil and Gas</a>
            </li>
            <li class="subMenu__block_item">
              <a href="#">Supply Chain</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="subMenu__block">
        <div style="display: flex; gap: 24px;">
          <ul class="subMenu__block_list">
            <li class="subMenu__block_item">
              <a href="#">eLearning</a>
            </li>
            <li class="subMenu__block_item">
              <a href="#">Sports</a>
            </li>
            <li class="subMenu__block_item">
              <a href="#">Healthcare</a>
            </li>
            <li class="subMenu__block_item">
              <a href="#">Insurance</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="subMenu__block">
        <div style="display: flex; gap: 24px;">
          <ul class="subMenu__block_list">
            <li class="subMenu__block_item">
              <a href="#">Real Estate</a>
            </li>
            <li class="subMenu__block_item">
              <a href="#">Dating</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
