<div class="container container__w1300">
  <div class="subMenu">
    <div class="subMenu__shell">
      <a class="card" href="https://anadea.info/projects/streeteasy">
        <div class="card__container">
          <img src="/blog/img/subMenu/streeteasy.webp" alt="" class="card__image" aria-hidden="{true}" />
          <div class="card__content">
            <div class="card_title">New York's Leading <br /> Real Estate Marketplace</div>
            <div class="card__subtitle">StreetEasy Case Study</div>
          </div>
        </div>
      </a>

      <div class="subMenu__items">
        <div class="subMenu__itemsColumn">
          <div>
            <a href="https://anadea.info/solutions/e-learning-software-development" class="subMenu__item"> eLearning </a>

            <div class="subMenu__list">
              <a href="https://anadea.info/solutions/e-learning-software-development/lxp" class="subMenu__subItem">
                <span class="underline">LXP</span>
              </a>

              <a href="https://anadea.info/solutions/e-learning-software-development/m-learning" class="subMenu__subItem">
                <span class="underline">mLearning</span>
              </a>

              <a href="https://anadea.info/solutions/e-learning-software-development/lms" class="subMenu__subItem">
                <span class="underline">LMS</span>
              </a>
            </div>
          </div>

          <div>
            <a href="https://anadea.info/solutions/supply-chain-software-development" class="subMenu__item"> Supply Chain </a>

            <div class="subMenu__list">
              <a href="https://anadea.info/solutions/retail-software-development" class="subMenu__subItem">
                <span class="underline">Retail</span>
              </a>

              <a href="https://anadea.info/solutions/ecommerce-software-development" class="subMenu__subItem">
                <span class="underline">Ecommerce</span>
              </a>

              <a href="https://anadea.info/solutions/supply-chain-software-development/warehouse-management" class="subMenu__subItem">
                <span class="underline">Warehouse</span>
              </a>
            </div>
          </div>

          <div>
            <a href="https://anadea.info/solutions/real-estate-software" class="subMenu__item"> Real Estate </a>

            <div class="subMenu__list">
              <a href="https://anadea.info/solutions/real-estate-software/property-management" class="subMenu__subItem">
                <span class="underline">Property Management</span>
              </a>

              <a href="https://anadea.info/solutions/real-estate-software/mls" class="subMenu__subItem">
                <span class="underline">MLS</span>
              </a>
            </div>
          </div>
        </div>

        <div class="subMenu__itemsColumn">
          <div>
            <a href="https://anadea.info/solutions/medical-app-development" class="subMenu__item"> Healthcare </a>
            <div class="subMenu__list">
              <a href="https://anadea.info/solutions/medical-app-development/emr-ehr-development" class="subMenu__subItem">
                <span class="underline">EMR/EHR</span>
              </a>

              <a href="https://anadea.info/solutions/medical-app-development/telemedicine-development" class="subMenu__subItem">
                <span class="underline">Telemedicine</span>
              </a>
            </div>
          </div>

          <div>
            <a href="https://anadea.info/solutions/financial-software-development" class="subMenu__item"> FinTech </a>
            <div class="subMenu__list">
              <a href="https://anadea.info/solutions/fintech-software-development/p2p-lending" class="subMenu__subItem">
                <span class="underline">P2P Lending</span>
              </a>
            </div>
          </div>


          <div>
            <a href="https://anadea.info/solutions/insurance-software-development" class="subMenu__item"> Insurance </a>
          </div>

          <div>
            <a href="https://anadea.info/solutions/travel-app-development" class="subMenu__item"> Travel </a>
          </div>
        </div>

        <div class="subMenu__itemsColumn">
          <div>
            <a href="https://anadea.info/solutions/sports-app-development" class="subMenu__item"> Sports </a>

            <div class="subMenu__list">
              <a href="https://anadea.info/solutions/sports-app-development/fitness-app-development" class="subMenu__subItem">
                <span class="underline">Fitness</span>
              </a>

              <a href="https://anadea.info/solutions/sports-app-development/golf-course-management" class="subMenu__subItem">
                <span class="underline">Golf</span>
              </a>

              <a href="https://anadea.info/solutions/sports-app-development/fantasy-sports-app-development" class="subMenu__subItem">
                <span class="underline">Fantasy</span>
              </a>
            </div>
          </div>

          <div>
            <a href="https://anadea.info/solutions/dating-app-development" class="subMenu__item"> Dating </a>
          </div>

          <div>
            <a href="https://anadea.info/solutions/oil-and-gas-software" class="subMenu__item"> Oil and Gas </a>
          </div>

          <div>
            <a href="https://anadea.info/solutions/social-media-app-development" class="subMenu__item"> Social </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="subMenu__footer">
    <div class="container container__w1300">
      <div class="subMenu__footer__link">
        <a href="https://anadea.info/solutions" class="subMenu__seeAllButton">
          <span>View all Industries</span>
          <svg class="subMenu__icon" viewBox="0 0 19 10" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.953 9.27979C12.8321 9.15814 12.7642 8.99358 12.7642 8.82205C12.7642 8.65053 12.8321 8.48597 12.953 8.36432L15.9396 5.38416H0.649307C0.47711 5.38416 0.311964 5.31576 0.190203 5.194C0.0684414 5.07224 3.62396e-05 4.90709 3.62396e-05 4.73489C3.62396e-05 4.5627 0.0684414 4.39755 0.190203 4.27579C0.311964 4.15403 0.47711 4.08562 0.649307 4.08562H15.9202L12.953 1.11846C12.8299 0.996196 12.7604 0.830033 12.7597 0.656522C12.7591 0.483012 12.8275 0.316366 12.9497 0.193245C13.072 0.0701237 13.2382 0.000612845 13.4117 4.03293e-06C13.5852 -0.000604779 13.7518 0.0677383 13.875 0.189998L18.0043 4.32585C18.1133 4.43536 18.1746 4.58361 18.1746 4.73814C18.1746 4.89267 18.1133 5.04092 18.0043 5.15043L13.875 9.27979C13.8146 9.34064 13.7428 9.38895 13.6637 9.42191C13.5845 9.45487 13.4997 9.47184 13.414 9.47184C13.3283 9.47184 13.2434 9.45487 13.1643 9.42191C13.0852 9.38895 13.0133 9.34064 12.953 9.27979Z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
