<div class="container container__w1300">
  <div class="subMenu">
    <div class="subMenu__shell">
      <div class="subMenu__mainBlock">
        <div class="subMenu__mainBlock_header">
          <div class="subMenu__mainBlock_title">Code is no longer the bottleneck</div>
          <div class="subMenu__mainBlock_subTitle">Understanding the business you're building for is. 25 years of practice gives us context most teams don't have</div>
        </div>

          <a class="subMenu__mainBlock_link" href="https://anadea.info/free-project-estimate">
            Book a call
            <img
              class=""
              alt="arrow"
              aria-hidden="true"
              src="/blog/img/subMenu/link_arrow.svg"
            />
          </a>
      </div>

      <div class="subMenu__block hidden_mobile">
        <ul class="subMenu__block_list">
          <li class="subMenu__block_item">
            <a href="https://anadea.info/solutions/private-equity-software-development">Private Equity</a>
          </li>
          <li class="subMenu__block_item">
            <a href="https://anadea.info/solutions/fintech-software-development">FinTech</a>
          </li>
          <li class="subMenu__block_item">
            <a href="https://anadea.info/solutions/oil-and-gas-software">Oil and Gas</a>
          </li>
          <li class="subMenu__block_item">
            <a href="https://anadea.info/solutions/supply-chain-software-development">Supply Chain</a>
          </li>
        </ul>
      </div>

      <div class="subMenu__block hidden_mobile">
        <ul class="subMenu__block_list">
          <li class="subMenu__block_item">
            <a href="https://anadea.info/solutions/e-learning-software-development">eLearning</a>
          </li>
          <li class="subMenu__block_item">
            <a href="https://anadea.info/solutions/sports-app-development">Sports</a>
          </li>
          <li class="subMenu__block_item">
            <a href="https://anadea.info/solutions/healthcare-software-development">Healthcare</a>
          </li>
          <li class="subMenu__block_item">
            <a href="https://anadea.info/solutions/insurance-software-development">Insurance</a>
          </li>
        </ul>
      </div>

      <div class="subMenu__block hidden_mobile">
        <ul class="subMenu__block_list">
          <li class="subMenu__block_item">
            <a href="https://anadea.info/solutions/real-estate-software">Real Estate</a>
          </li>
          <li class="subMenu__block_item">
            <a href="https://anadea.info/solutions/dating-app-development">Dating</a>
          </li>
        </ul>
      </div>

      <div class="subMenu__block hidden_desktop">
        <div class="subMenu__block_header">
          <div class="subMenu__block_title">Product engineering</div>
          <div class="subMenu__block_subTitle">You run the business, we make the product work</div>
        </div>

        <div class="multi_list_wrapper">
          <ul class="subMenu__block_list">
            <li class="subMenu__block_item">
              <a href="https://anadea.info/solutions/private-equity-software-development">Private Equity</a>
            </li>
            <li class="subMenu__block_item">
              <a href="https://anadea.info/solutions/fintech-software-development">FinTech</a>
            </li>
            <li class="subMenu__block_item">
              <a href="https://anadea.info/solutions/oil-and-gas-software">Oil and Gas</a>
            </li>
            <li class="subMenu__block_item">
              <a href="https://anadea.info/solutions/supply-chain-software-development">Supply Chain</a>
            </li>
            <li class="subMenu__block_item">
              <a href="https://anadea.info/solutions/e-learning-software-development">eLearning</a>
            </li>
          </ul>

          <ul class="subMenu__block_list">
            <li class="subMenu__block_item">
              <a href="https://anadea.info/solutions/sports-app-development">Sports</a>
            </li>
            <li class="subMenu__block_item">
              <a href="https://anadea.info/solutions/healthcare-software-development">Healthcare</a>
            </li>
            <li class="subMenu__block_item">
              <a href="https://anadea.info/solutions/insurance-software-development">Insurance</a>
            </li>
            <li class="subMenu__block_item">
              <a href="https://anadea.info/solutions/real-estate-software">Real Estate</a>
            </li>
            <li class="subMenu__block_item">
              <a href="https://anadea.info/solutions/dating-app-development">Dating</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
