<div class="container container__w1300">
  <div class="subMenu">
    <div class="subMenu__shell">
      <div class="subMenu__mainBlock">
        <div class="subMenu__mainBlock_header">
          <div class="subMenu__mainBlock_title">Technology-first approach</div>
          <div class="subMenu__mainBlock_subTitle">AI practice since 2019. Technology is what we care about most, and our clients feel it in the results</div>
        </div>

          <a class="subMenu__mainBlock_link" href="https://anadea.info/free-project-estimate">
            Book a call
            <img
              class=""
              alt="arrow"
              aria-hidden="true"
              src="/blog/img/subMenu/link_arrow.svg"
            />
          </a>
      </div>

      <div class="subMenu__block">
        <div class="subMenu__block_header mb_0">
          <div class="subMenu__block_title">
            <a href="https://anadea.info/blog">
              Blog
            </a>
          </div>
          <div class="subMenu__block_subTitle">Engineering and AI, written by the team</div>
        </div>
      </div>

      <div class="subMenu__block">
        <div class="subMenu__block_header mb_0">
          <div class="subMenu__block_title">
            <a href="https://anadea.info/guides">
              Client guides
            </a>
            </div>
          <div class="subMenu__block_subTitle">Practical guides for the questions clients actually ask us</div>
        </div>
      </div>

      <div class="subMenu__block">
        <div class="subMenu__block_header mb_0">
          <div class="subMenu__block_title">
            <a href="https://anadea.info/e-books">
              E-books
            </a>
          </div>
          <div class="subMenu__block_subTitle">For when an article isn't enough</div>
        </div>
      </div>
    </div>
  </div>
</div>
