<div class="header__mobileMenu">
  <div class="mobileMenu">
    <button class="mobileMenu__item">Portfolio</button>
    <div class="mobileMenu__subMenu">
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/projects#ecommerce">Ecommerce</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/projects#real-estate">Real Estate</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/projects#healthcare">Healthcare</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/projects#social-network">Social Network</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/projects#enterprise">Enterprise</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/projects#sports">Sports</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/projects#financial">FinTech</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/projects#travel">Travel</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/projects#elearning">Elearning</a>
      <div class="subMenu__footer__link">
        <a href="https://anadea.info/projects" class="subMenu__seeAllButton">
          <span>View all Cases</span>
          <svg class="subMenu__icon" viewBox="0 0 19 10" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.953 9.27979C12.8321 9.15814 12.7642 8.99358 12.7642 8.82205C12.7642 8.65053 12.8321 8.48597 12.953 8.36432L15.9396 5.38416H0.649307C0.47711 5.38416 0.311964 5.31576 0.190203 5.194C0.0684414 5.07224 3.62396e-05 4.90709 3.62396e-05 4.73489C3.62396e-05 4.5627 0.0684414 4.39755 0.190203 4.27579C0.311964 4.15403 0.47711 4.08562 0.649307 4.08562H15.9202L12.953 1.11846C12.8299 0.996196 12.7604 0.830033 12.7597 0.656522C12.7591 0.483012 12.8275 0.316366 12.9497 0.193245C13.072 0.0701237 13.2382 0.000612845 13.4117 4.03293e-06C13.5852 -0.000604779 13.7518 0.0677383 13.875 0.189998L18.0043 4.32585C18.1133 4.43536 18.1746 4.58361 18.1746 4.73814C18.1746 4.89267 18.1133 5.04092 18.0043 5.15043L13.875 9.27979C13.8146 9.34064 13.7428 9.38895 13.6637 9.42191C13.5845 9.45487 13.4997 9.47184 13.414 9.47184C13.3283 9.47184 13.2434 9.45487 13.1643 9.42191C13.0852 9.38895 13.0133 9.34064 12.953 9.27979Z"
            />
          </svg>
        </a>
      </div>
    </div>
    <button class="mobileMenu__item">Services</button>
    <div class="mobileMenu__subMenu">
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/services/mobile-development"
        >Mobile Development</a
      >
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/services/web-development">Web Development</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/services/ui-ux-design">UI/UX Design</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/services/custom-software-development"
        >Custom Software Development</a
      >
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/services/code-review-service">Code Review</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/services/accessibility">Web Accessibility</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/services/server-administration-and-maintenance"
        >DevOps as a Service</a
      >
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/services/ai-software-development"
        >AI Software Development</a
      >
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/services/consulting-and-audit"
        >IT Consulting</a
      >
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/services/seo-service">SEO Services</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/services/saas-development">SaaS Development</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/services/business-analysis"
        >Business Analysis</a
      >
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/services/quality-assurance"
        >Quality Assurance</a
      >
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/services/penetration-testing-services"
        >Penetration Testing</a
      >
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/services/passkey">Passkey</a>
      <div class="subMenu__footer__link">
        <a href="https://anadea.info/services" class="subMenu__seeAllButton">
          <span>View all Services</span>
          <svg class="subMenu__icon" viewBox="0 0 19 10" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.953 9.27979C12.8321 9.15814 12.7642 8.99358 12.7642 8.82205C12.7642 8.65053 12.8321 8.48597 12.953 8.36432L15.9396 5.38416H0.649307C0.47711 5.38416 0.311964 5.31576 0.190203 5.194C0.0684414 5.07224 3.62396e-05 4.90709 3.62396e-05 4.73489C3.62396e-05 4.5627 0.0684414 4.39755 0.190203 4.27579C0.311964 4.15403 0.47711 4.08562 0.649307 4.08562H15.9202L12.953 1.11846C12.8299 0.996196 12.7604 0.830033 12.7597 0.656522C12.7591 0.483012 12.8275 0.316366 12.9497 0.193245C13.072 0.0701237 13.2382 0.000612845 13.4117 4.03293e-06C13.5852 -0.000604779 13.7518 0.0677383 13.875 0.189998L18.0043 4.32585C18.1133 4.43536 18.1746 4.58361 18.1746 4.73814C18.1746 4.89267 18.1133 5.04092 18.0043 5.15043L13.875 9.27979C13.8146 9.34064 13.7428 9.38895 13.6637 9.42191C13.5845 9.45487 13.4997 9.47184 13.414 9.47184C13.3283 9.47184 13.2434 9.45487 13.1643 9.42191C13.0852 9.38895 13.0133 9.34064 12.953 9.27979Z"
            />
          </svg>
        </a>
      </div>
    </div>
    <button class="mobileMenu__item">Resources</button>
    <div class="mobileMenu__subMenu">
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/blog">Blog</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/customer-interviews">Interviews</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/guides">Client Guides</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/e-books">E-books</a>
    </div>
    <button class="mobileMenu__item">Industries</button>
    <div class="mobileMenu__subMenu">
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/solutions/e-learning-software-development"
        >Elearning</a
      >
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/solutions/medical-app-development"
        >Healthcare</a
      >
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/solutions/real-estate-software">Real Estate</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/solutions/sports-app-development">Sports</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/solutions/financial-software-development"
        >FinTech</a
      >
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/solutions/supply-chain-software-development"
        >Supply Chain</a
      >
      <a
        class="mobileMenu__subMenu--item"
        href="https://anadea.info/solutions/supply-chain-software-development/warehouse-management"
        >Warehouse</a
      >
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/solutions/ecommerce-software-development"
        >Ecommerce</a
      >
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/solutions/retail-software-development"
        >Retail</a
      >
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/solutions/insurance-software-development"
        >Insurance</a
      >
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/solutions/dating-app-development">Dating</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/solutions/travel-app-development">Travel</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/solutions/oil-and-gas-software">Oil and Gas</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/solutions/social-media-app-development"
        >Social</a
      >
      <div class="subMenu__footer__link">
        <a href="https://anadea.info/industries" class="subMenu__seeAllButton">
          <span>View all Industries</span>
          <svg class="subMenu__icon" viewBox="0 0 19 10" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.953 9.27979C12.8321 9.15814 12.7642 8.99358 12.7642 8.82205C12.7642 8.65053 12.8321 8.48597 12.953 8.36432L15.9396 5.38416H0.649307C0.47711 5.38416 0.311964 5.31576 0.190203 5.194C0.0684414 5.07224 3.62396e-05 4.90709 3.62396e-05 4.73489C3.62396e-05 4.5627 0.0684414 4.39755 0.190203 4.27579C0.311964 4.15403 0.47711 4.08562 0.649307 4.08562H15.9202L12.953 1.11846C12.8299 0.996196 12.7604 0.830033 12.7597 0.656522C12.7591 0.483012 12.8275 0.316366 12.9497 0.193245C13.072 0.0701237 13.2382 0.000612845 13.4117 4.03293e-06C13.5852 -0.000604779 13.7518 0.0677383 13.875 0.189998L18.0043 4.32585C18.1133 4.43536 18.1746 4.58361 18.1746 4.73814C18.1746 4.89267 18.1133 5.04092 18.0043 5.15043L13.875 9.27979C13.8146 9.34064 13.7428 9.38895 13.6637 9.42191C13.5845 9.45487 13.4997 9.47184 13.414 9.47184C13.3283 9.47184 13.2434 9.45487 13.1643 9.42191C13.0852 9.38895 13.0133 9.34064 12.953 9.27979Z"
            />
          </svg>
        </a>
      </div>
    </div>
    <button class="mobileMenu__item">About</button>
    <div class="mobileMenu__subMenu">
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/about-us">About Us</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/awards-achievements">Recognitions</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/contacts">Contacts</a>
      <a class="mobileMenu__subMenu--item" href="https://anadea.info/testimonials">Testimonials</a>
      <a class="mobileMenu__subMenu--item" href="https://jobs.anadea.info/">Carrer</a>
    </div>
  </div>
  <a href="https://anadea.info/free-project-estimate" class="header__callToAction">Get Estimate</a>
</div>