  <div class="header__mobileDrawer">
    <nav class="mobileDrawer__tabs">
      <button class="mobileDrawer__tab active" data-target="services"><span>Services</span></button>
      <button class="mobileDrawer__tab" data-target="success_stories"><span>Success stories</span></button>
      <button class="mobileDrawer__tab" data-target="industries"><span>Industries</span></button>
      <button class="mobileDrawer__tab" data-target="company"><span>Company</span></button>
      <button class="mobileDrawer__tab" data-target="insights"><span>Insights</span></button>
      <a href="https://anadea.info/contacts" class="mobileDrawer__CTA">Contact us</a>
    </nav>
    <div class="mobileDrawer__content">
      <div class="mobileDrawer__panel active" id="mobile-services">
        {{ partial "menu/services.html" . }}
      </div>
      <div class="mobileDrawer__panel" id="mobile-success_stories">
        {{ partial "menu/success_stories.html" . }}
      </div>
      <div class="mobileDrawer__panel" id="mobile-industries">
        {{ partial "menu/industries.html" . }}
      </div>
      <div class="mobileDrawer__panel" id="mobile-company">
        {{ partial "menu/company.html" . }}
      </div>
      <div class="mobileDrawer__panel" id="mobile-insights">
        {{ partial "menu/insights.html" . }}
      </div>
    </div>
  </div>
