<div class="container container__w1300">
  <div class="subMenu">
    <div class="subMenu__shell">
      <a class="card" href="https://anadea.info/for-clients/customers-stories/valevpn">
        <div class="card__container">
          <img src="/blog/img/subMenu/bulletin.webp" alt="" class="card__image" aria-hidden="{true}" />
          <div class="card__content">
            <div class="card__title">
              "Digital news is <br />
              an IT business"
            </div>
            <div class="card__subtitle">
              Interview with <br />
              Founder of Bulletin
            </div>
          </div>
        </div>
      </a>

      <div class="subMenu__items">
        <div class="subMenu__itemsColumn">
          <div>
            <a href="https://anadea.info/blog" class="subMenu__item"> Blog </a>
          </div>

          <div>
            <a href="https://anadea.info/customer-interviews" class="subMenu__item"> Interviews </a>
          </div>

          <div>
            <a href="https://anadea.info/guides" class="subMenu__item"> Client Guides </a>
          </div>
        </div>

        <div class="subMenu__itemsColumn">
          <div>
            <a href="https://anadea.info/e-books" class="subMenu__item"> E-books </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
