<div class="container container__w1300">
  <div class="subMenu">
    <div class="subMenu__shell">
      <a class="card" href="https://anadea.info/projects/admirals">
        <div class="card__container">
          <img src="/blog/img/subMenu/admirals.webp" alt="" class="card__image" aria-hidden="{true}" />
          <div class="card__content">
            <div class="card__title">
              App for trading in <br />
              5,000+ markets
            </div>
            <div class="card__subtitle">Admirals Case Study</div>
          </div>
        </div>
      </a>

      <div class="subMenu__items">
        <div class="subMenu__itemsColumn">
          <div>
            <a href="https://anadea.info/services/mobile-development" class="subMenu__item"> Mobile Development </a>

            <div class="subMenu__list">
              <a href="https://anadea.info/services/mobile-development/ios-development" class="subMenu__subItem">
                <span class="underline">iOS</span>
              </a>

              <a href="https://anadea.info/services/mobile-development/android-development" class="subMenu__subItem">
                <span class="underline">Android</span>
              </a>

              <a
                href="https://anadea.info/services/mobile-development/flutter-development-services"
                class="subMenu__subItem"
              >
                <span class="underline">Flutter</span>
              </a>
            </div>
          </div>

          <div>
            <a href="https://anadea.info/services/web-development" class="subMenu__item"> Web Development </a>

            <div class="subMenu__list">
              <a href="https://anadea.info/services/web-development/ruby-on-rails-development" class="subMenu__subItem">
                <span class="underline">Ruby</span>
              </a>

              <a href="https://anadea.info/services/web-development/front-end" class="subMenu__subItem">
                <span class="underline">Frontend</span>
              </a>

              <a href="https://anadea.info/services/web-development/java" class="subMenu__subItem">
                <span class="underline">Java</span>
              </a>

              <a
                href="https://anadea.info/services/web-development/java-and-scala-development"
                class="subMenu__subItem"
              >
                <span class="underline">Scala</span>
              </a>

              <a href="https://anadea.info/technologies/golang" class="subMenu__subItem">
                <span class="underline">Golang</span>
              </a>

              <a href="https://anadea.info/technologies/kotlin" class="subMenu__subItem">
                <span class="underline">Kotlin</span>
              </a>
            </div>
          </div>

          <div>
            <a href="https://anadea.info/services/ui-ux-design" class="subMenu__item"> UI/UX Design </a>

            <div class="subMenu__list">
              <a href="https://anadea.info/services/ui-ux-design/mobile-app-design" class="subMenu__subItem">
                <span class="underline">Mobile App Design</span>
              </a>
            </div>
          </div>

          <div>
            <a href="https://anadea.info/services/custom-software-development" class="subMenu__item">
              Custom Software Development
            </a>
          </div>
        </div>

        <div class="subMenu__itemsColumn">
          <div>
            <a href="https://anadea.info/services/code-review-service" class="subMenu__item"> Code Review </a>
          </div>

          <div>
            <a href="https://anadea.info/services/accessibility" class="subMenu__item"> Web Accessibility </a>
          </div>

          <div>
            <a href="https://anadea.info/services/server-administration-and-maintenance" class="subMenu__item">
              DevOps as a Service
            </a>
          </div>

          <div>
            <a href="https://anadea.info/services/ai-software-development" class="subMenu__item">
              AI Software Development
            </a>

              <div class="subMenu__list">
                <a href="https://anadea.info/services/machine-learning-software-development" class="subMenu__subItem">
                  <span class="underline">ML/DL Services</span>
                </a>

                <a href="https://anadea.info/services/custom-ai-agent-development" class="subMenu__subItem">
                  <span class="underline">AI Agent</span>
                </a>
              </div>
            </div>

            <div>
              <a href="https://anadea.info/services/saas-development" class="subMenu__item"> SaaS Development </a>
            </div>
          </div>

          <div class="subMenu__itemsColumn">
            <div>
              <a href="https://anadea.info/services/consulting-and-audit" class="subMenu__item"> IT Consulting </a>
            </div>

            <div>
              <a href="https://anadea.info/services/seo-service" class="subMenu__item"> SEO Services </a>
            </div>

            <div>
              <a href="https://anadea.info/services/business-analysis" class="subMenu__item"> Business Analysis </a>
            </div>

            <div>
              <a href="https://anadea.info/services/quality-assurance" class="subMenu__item"> Quality Assurance </a>
            </div>

            <div>
              <a href="https://anadea.info/services/penetration-testing-services" class="subMenu__item"> Penetration Testing </a>
            </div>

            <div>
              <a href="https://anadea.info/services/passkey" class="subMenu__item"> Passkey </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subMenu__footer">
    <div class="container container__w1300">
      <div class="subMenu__footer__link">
        <a href="https://anadea.info/services" class="subMenu__seeAllButton">
          <span>View all Services</span>
          <svg class="subMenu__icon" viewBox="0 0 19 10" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.953 9.27979C12.8321 9.15814 12.7642 8.99358 12.7642 8.82205C12.7642 8.65053 12.8321 8.48597 12.953 8.36432L15.9396 5.38416H0.649307C0.47711 5.38416 0.311964 5.31576 0.190203 5.194C0.0684414 5.07224 3.62396e-05 4.90709 3.62396e-05 4.73489C3.62396e-05 4.5627 0.0684414 4.39755 0.190203 4.27579C0.311964 4.15403 0.47711 4.08562 0.649307 4.08562H15.9202L12.953 1.11846C12.8299 0.996196 12.7604 0.830033 12.7597 0.656522C12.7591 0.483012 12.8275 0.316366 12.9497 0.193245C13.072 0.0701237 13.2382 0.000612845 13.4117 4.03293e-06C13.5852 -0.000604779 13.7518 0.0677383 13.875 0.189998L18.0043 4.32585C18.1133 4.43536 18.1746 4.58361 18.1746 4.73814C18.1746 4.89267 18.1133 5.04092 18.0043 5.15043L13.875 9.27979C13.8146 9.34064 13.7428 9.38895 13.6637 9.42191C13.5845 9.45487 13.4997 9.47184 13.414 9.47184C13.3283 9.47184 13.2434 9.45487 13.1643 9.42191C13.0852 9.38895 13.0133 9.34064 12.953 9.27979Z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
