<div class="container container__w1300">
  <div class="subMenu">
    <div class="subMenu__shell">
      <div class="subMenu__mainBlock">
        <div class="subMenu__mainBlock_header">
          <div class="subMenu__mainBlock_title">87% of clients come back</div>
          <div class="subMenu__mainBlock_subTitle">Built on long-term relationships and referrals</div>
        </div>

        <a class="subMenu__mainBlock_link" href="">
          Book a call
          <img
            alt="arrow"
            aria-hidden="true"
            src="/blog/img/subMenu/link_arrow.svg"
          />
        </a>
      </div>

      <div class="subMenu__block">
        <div class="subMenu__block_header mb_0">
          <div class="subMenu__block_title"><a href="">Case studies</a></div>
          <div class="subMenu__block_subTitle">Partnerships that average 10+ years, with names like Zillow</div>
        </div>
      </div>

      <div class="subMenu__block">
        <div class="subMenu__block_header mb_0">
          <div class="subMenu__block_title"><a href="">Client stories</a></div>
          <div class="subMenu__block_subTitle">Founders, CEOs, and CTOs on what it's like to build with us</div>
        </div>
      </div>

      <div class="subMenu__block">
        <div class="subMenu__block_header mb_0">
          <div class="subMenu__block_title"><a href="">Testimonials</a></div>
          <div class="subMenu__block_subTitle">Feedback from the people we've worked with</div>
        </div>
      </div>
    </div>
  </div>
</div>
