{{ define "main" }}
  <div style="display: flex; justify-content: center; text-align: center;">
    <div style="display: flex; align-items: center; width: 500px; height: 500px;">
      Promote post
    </div>

    <div>
      <div style="display: flex; align-items: center; width: 500px; height: 250px;">Top post</div>
      <div style="display: flex; align-items: center; width: 500px; height: 250px;">Top post</div>
    </div>
  </div>
  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
    {{ range (.Paginate .RegularPagesRecursive).Pages }}
      <div>
        <h2><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></h2>
        {{ .Summary }}
      </div>
    {{ end }}
  </div>
  {{ partial "pagination.html" . }}
{{ end }}
