{{ define "main" }}

{{- $promote := where .Site.RegularPages "Params.featured.promote" "==" true -}}
{{- $top := where .Site.RegularPages "Params.featured.top" "==" true -}}



<div class="featured">
  {{ range first 1 $promote }}
      <div class="promote">
        <h2><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></h2>
        {{ .Summary }}
      </div>
  {{ end }}

  <div class="top-posts">
    {{ range first 2 $top }}
    <div class="top">
      <h2><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></h2>
      {{ .Summary }}
    </div>
    {{ end }}
  </div>
</div>

  <div class="posts">
    {{ range (.Paginate .Site.RegularPages).Pages }}
      <div class="card">
        <h2><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></h2>
        {{ .Summary }}
      </div>
    {{ end }}
  </div>
  {{ partial "pagination.html" . }}
{{ end }}
