{{- define "page-js" -}}
  {{ partialCached "head/search_js.html" . }}
  {{ partialCached "head/search_form_js.html" . }}
{{- end -}}

{{ define "page-css" }}
  {{ partialCached "head/page_css.html" (dict
    "sourcePath" "scss/home.scss"
    "targetPath" "css/home.css"
    )
  }}
{{ end }}

{{ define "main" }}
  <div class="container container__w1300">
    {{- partial "page_head.html" . -}}
    <h1>Search</h1>
    {{- partial "filters.html" . -}}

    <div id="searchResults"></div>
  </div>
{{ end }}
