{{ define "main" }}
  <div style="display: flex; justify-content: center; gap: 32px;">
    {{ range $value := .Params.taxonomy }}
      {{ range $key, $items := $value }}
        {{range $item := $items}}
          <a href={{ printf "%s/%s" $key ($item | urlize) | relURL }}>{{$item}}</a>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>


  <h1 style="text-align: center;">{{ .Title }}</h1>

  {{ $readTime := mul (div (countwords .Content) 100.0) 60 }}
  <div>
    Reading time:
      {{ math.Floor (div $readTime 60) }} minutes
      and {{ mod $readTime 60 }} seconds.
  </div>

  <div style="text-align: center;">
    {{ $dateMachine := .Date | time.Format "2023-11-06T10:21:56.268Z" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  </div>

  <div style="display: flex; flex-direction: column;">
    <img src={{ .Params.image }} alt="" style="">

    {{ with .Params.authors }}
      <div class="authors">
        {{ range $index, $element := . }}
          <p>{{ . }}</p>
        {{ end }}
      </div>
    {{ end }}

  <div style="display: flex;  ">
    <div>
      {{ .Content }}
    </div>

    <div style="display: flex; flex-direction: column; width: 700px;">
      <aside>
        {{ .TableOfContents }}
      </aside>

      <div>
        <h4>
          Have question block
        </h4>

        <p>Full-stack developer with 8+ years of experience with lorem ipsum dolor.</p>
      </div>

      <div>
        <h4>
          Read next block
        </h4>

        <p>Why DevOps Is Vital For SaaS Projects</p>
      </div>
    </div>
  </div>
  {{ partial "questions.html" . }}
  {{ partial "subscribe.html" . }}
  {{ partial "keepReading.html" . }}
  {{ partial "contact.html" . }}
{{ end }}
