{{ define "page-css" }}
  {{ partial "head_resources/page_css.html" (dict
    "sourcePath" "scss/post.scss"
    "targetPath" "css/post.css"
    )
  }}
{{ end }}

{{ define "page-js" }}
  {{ partial "head_resources/page_js.html" (dict  "sourcePath" "js/post.js") }}
{{ end }}

{{ define "main" }}
  <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "Article",
    "author": "Anadea",
    "name": "{{ .Title | safeHTML }}"
    }
  </script>

  {{ partial "post/post_head.html" . }}

  <div class="container container__w960 postBody">
    <article class="ToC__mobileOnly">
      <div class="ToC">
        <h6 class="ToC__title">Table of contents</h6>
        {{ .TableOfContents }}
      </div>
    </article>

    <div id="sentinel"></div>
    <div class="markdown">
      {{ .Content }}
    </div>

    <aside class="postBody__aside">
      <article class="ToC__desktopOnly">
        <div class="ToC" id="toc">
          <h6 class="ToC__title">Table of contents</h6>
          {{ .TableOfContents }}
        </div>
      </article>

      <div class="postBody__animated">
        <div class="sticky hidden" id="author-connect">
          {{ partial "post/keep_in_touch.html" . }}
        </div>

        <div class="sticky hidden" id="read-next">
          {{ partial "post/read_next.html" . }}
        </div>
      </div>
    </aside>
  </div>

  <div class="container container__w1300">
    {{ partial "post/questions.html" . }}
    {{ partial "post/keep_reading.html" . }}
    {{ partial "contacts.html" . }}
  </div>
{{ end }}
