{{ define "page-css" }}
  {{ partial "head/page_css.html" (dict
    "sourcePath" "scss/taxonomy.scss"
    "targetPath" "css/taxonomy.css"
    )
  }}
{{ end }}

{{- define "page-js" -}}
  {{ partialCached "head/search_form_js.html" . }}
{{- end -}}

{{ define "main" }}
  <div class="container container__w1300">
    {{ partial "page_head.html" . }}

    <header class="taxonomyPage">
      <h1 class="taxonomyPage__title">Articles about {{ .Title }}</h1>
    </header>

    {{- partial "filters.html" . -}}

    <div class="postFeed">
      {{ range .Paginator.Pages }}
        {{ partial "post_card.html" . }}
      {{ end }}
    </div>

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
