{{ define "page-css" }}
  {{ partial "head_resources/page_css.html" (dict
    "sourcePath" "scss/taxonomy.scss"
    "targetPath" "css/taxonomy.css"
    )
  }}
{{ end }}

{{ define "page-js" }}
  {{ partialCached "head_resources/search_form_js.html" . }}
{{ end }}

{{ define "main" }}
  <div class="container container__w1300">
    {{ partial "shared/page_head.html" . }}

    <header class="taxonomyPage">
      {{ $path := path.BaseName .Path }}

      {{ with index (index $.Site.Data .Type) $path }}
        <h1 class="taxonomyPage__title">Articles about {{ .title }}</h1>
      {{ end }}
    </header>

    {{ partial "shared/filters.html" . }}

    <div class="postFeed">
      {{ $paginator := .Paginate .Pages }}
      {{ with $paginator }}
        {{ range .Pages }}
          {{ partial "shared/post_card.html" . }}
        {{ end }}
      {{ end }}
    </div>

    {{ partial "shared/pagination.html" . }}
  </div>
{{ end }}
