{{ define "main" }}
{{- $baseName := path.BaseName .RelPermalink -}}
{{- $author := index .Site.Data.authors $baseName -}}


<div class="container container__w1300">
    {{- partial "pageHead.html" . -}}
    {{- with $author -}}
        <h1>{{ .name }}</h1>
        {{ partial "hero_card.html" . }}
    {{ end }}
      <div class="postFeed">
        {{- range .Pages }}
          {{- partial "post_card.html" . -}}
        {{ end -}}
      </div>

      {{- partial "subscription.html" . -}}
  </div>
{{ end }}

