{{ define "page-css" }}
  {{ partial "head_resources/page_css.html" (dict
    "sourcePath" "scss/author.scss"
    "targetPath" "css/author.css"
    )
  }}
{{ end }}

{{ define "page-js" }}
  {{ partialCached "head_resources/search_form_js.html" . }}
{{ end }}

{{ define "main" }}
  {{ $baseName := path.BaseName .RelPermalink }}

  <div class="container container__w1300">
    {{ partial "page_head.html" . }}

    {{ with index .Site.Data.authors $baseName }}
    <h1 class="title">{{ .title }}</h1>
    {{ partial "hero_card.html" . }}
    {{ end }}

    {{ partial "filters.html" . }}

    <div class="postFeed">
      {{ $paginator := .Paginate .Pages }}
      {{ with $paginator }}
        {{ range .Pages }}
          {{ partial "post_card.html" . }}
        {{ end }}
      {{ end }}
    </div>

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
